
<div class="row mt-1">
    <div class="col-xl-1"></div>
    <div class="col-xl-2 col-lg-4 col-md-3">
        <div class="form-group">
            <label class="custom-form-margin">Revision Year</label>
            <select class="form-control">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
            </select>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-5">
        <div class="form-group">
            <label class="custom-form-margin">Allotment Class</label>
            <select class="form-control">
                <option>Personal Services</option>
                <option>Capital Outlay</option>
                <option>Maintenance and Other Operating Expenses</option>
                <option>Other Operating Expenses</option>
            </select>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="form-group">
            <label class="custom-form-margin">Accounts</label>
            <select class="form-control">
                <option>Asset</option>
                <option>Liabilities</option>
                <option>Equity</option>
                <option>Income</option>
                <option>Expenses</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="form-group">
            <label class="custom-form-margin">Major Account Group</label>
            <select class="form-control">
                <option>Cash</option>
                <option>Financial Liabilities</option>
                <option>Government Equity</option>
                <option>Tax Revenue</option>
                <option>Personnel Services</option>
            </select>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-5">
        <div class="form-group">
            <label class="custom-form-margin">Sub Major Account Group</label>
            <input type="text" class="form-control" name="name" value="" />
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-3">
        <div class="form-group">
            <label class="custom-form-margin">Account Code</label>
            <div class="input-group mt-0">
                <span class="input-group-addon" id="basic-addon1"><b>1 - 01 -</b></span>
                <input type="text" class="form-control" name="name" value="" />
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
        <button type="button" class="btn btn-menuRed btn-min-width ml-1 float-right">
            Cancel
        </button>
        <button type="submit" class="btn btn-btnbackcolor btn-min-width float-right">
            Add
        </button>
    </div>
</div>