<div class=" col-md-12 col-lg-12 col-sm-12">
    <div class="form-group row custom-form-margin">
        <label class="col-sm-4">AIP Reference Code:</label>
        <div class="col-sm-8">
            <input type="text" value="8000-1" class="form-control">
        </div>
    </div>
    <div class="form-group row custom-form-margin">
        <label class="col-sm-4">Description:</label>
        <div class="col-sm-8">
            <textarea class="form-control" id="basicTextarea" rows="1"></textarea>
        </div>
    </div>
    <div class="form-group row custom-form-margin">
        <label class="col-sm-4">Start Date:</label>
        <div class="col-sm-8">
            <div class="input-group">
                <div class="input-group-prepend">
                </div>
                <input type='text' class="form-control pickadate datepicker" value="01/01/2017" />
            </div>
        </div>
    </div>
    <div class="form-group row custom-form-margin">
        <label class="col-sm-4">Completion Date:</label>
        <div class="col-sm-8">
            <div class="input-group">
                <div class="input-group-prepend">
                </div>
                <input type='text' class="form-control pickadate datepicker" value="12/31/2017" />
            </div>
        </div>
    </div>
    <div class="form-group row custom-form-margin">
        <label class="col-sm-4">Annual Target:</label>
        <div class="col-sm-8">
            <textarea class="form-control" id="basicTextarea" rows="1"></textarea>
        </div>
    </div>
    <div class="form-group row custom-form-margin">
        <label class="col-sm-4">Implementing Department:</label>
        <div class="col-sm-8">
            <select class="form-control">
                <option>Office Of The Provincial Accounting</option>
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group row custom-form-margin">
        <label class="col-sm-4">Expected Output:</label>
        <div class="col-sm-8">
            <textarea class="form-control" id="basicTextarea" rows="1"></textarea>
        </div>
    </div>
    <div class="form-group row custom-form-margin">
        <label class="col-sm-4">Implementing Department:</label>
        <div class="col-sm-8">
            <textarea class="form-control" id="basicTextarea" rows="1"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 bg-active">
            <div class="form-group text-center custom-form-margin">
                <label class="mb-0"><i>Estimated Cost (Amount in Php)</i></label>
            </div>
        </div>
    </div>

    <div class="row m-0 p-0">
        <div class="col-md-6 mb-0 mt-1">
            <div class="form-group row custom-form-margin">
                <label class="col-md-3 mr-1 pr-0 font-small-3">Personal Services:</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control text-right" value="38,300,000.00" data-type="currency">
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-0 mt-1">
            <div class="form-group row custom-form-margin">
                <label class="col-md-3 mr-1 pr-0 font-small-3">MOOE:</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control text-right" value="82,415,000.00" data-type="currency">
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-md-6 mb-0">
            <div class="form-group row custom-form-margin">
                <label class="col-md-3 mr-1 pr-0 font-small-3">Capital Outlay:</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control text-right" value="20,000,000.00" data-type="currency">
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-0">
            <div class="form-group row custom-form-margin">
                <label class="col-md-3 mr-1 pr-0 font-small-3">Other Fee:</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control text-right" value="0.00" data-type="currency">
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-md-6 mb-0">
        </div>
        <div class="col-md-6 mb-0">
            <div class="form-group row custom-form-margin">
                <label class="col-md-3 mr-1 pr-0 font-small-3">Total (Php):</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control text-right text-bold-700" value="140,715,000.00" data-type="currency">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 bg-active">
            <div class="form-group text-center custom-form-margin">
                <label class="mt-1"><i>Climate Change</i></label>
            </div>
        </div>
    </div>
    <div class="form-group row custom-form-margin mt-1">
        <label class="col-md-6 mr-0 pr-0">Climate Change Adoptation:</label>
        <div class="col-md-6 pl-0">
            <input type="text" value="0.00" class="form-control text-right" data-type="currency">
        </div>
    </div>
    <div class="form-group row custom-form-margin">
        <label class="col-md-6 mr-0 pr-0">Climate Change Mitigation:</label>
        <div class="col-md-6 pl-0">
            <input type="text" value="0.00" class="form-control text-right" data-type="currency">
        </div>
    </div>
    <div class="form-group row custom-form-margin">
        <label class="col-md-6 mr-0 pr-0">Climate Change Typology Code:</label>
        <div class="col-md-6 pl-0">
            <input type="text" value="0.00" class="form-control text-right" data-type="currency">
        </div>
    </div>

</div>

@*JS*@
<script>
    LoadDatePicker();

    $("input[data-type='currency']").on({
        keyup: function () {
            formatCurrency($(this));
        },
        blur: function () {
            formatCurrency($(this), "blur");
        }
    });

    formatCurrency();
    formatNumber();

</script>

