
<div class="col-md-6 col-sm-6">
    <div class="row">
        <label class="col-sm-4"><b>AIP Reference Code</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-7 pr-0">
            <p>8000-1-2-3</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4"><b>Description</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-7 pr-0">
            <p>Plant Material Production Distribution (Provincial Plant Nursery)</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4"><b>Start Date</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-7 pr-0">
            <p>1/1/2018</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4"><b>Completion Date</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-7 pr-0">
            <p>12/31/2018</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4"><b>Annual Targets</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-7 pr-0">

        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6">
    <div class="row">
        <label class="col-sm-4 pl-0"><b>Implementing Department</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-7 pr-0">
            <p>Office Of The Provincial AGRICULTURIST</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4 pl-0"><b>Expected Output/s</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-7 pr-0">
            <p>Planting materials potted/Production of planting materials safely undertaken/ Production of healthy planting materials</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4 pl-0"><b>Other Implementing Department/s</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-7 pr-0">
            <p></p>
        </div>
    </div>
</div>

<div class="col-md-12 m-0">
    <hr style="border-color: #98A4B8;">
</div>

<div class="col">
    <div class="row">
        <div class="col mx-1 bg-active">
            <div class="form-group text-center custom-form-margin">
                <label class="mt-1"><i><strong>Estimated Cost (Amount in Php)</strong></i></label>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-sm-5"><b>Personal Services</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-6 pr-0">
            <p class="text-right">0.00</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-5"><b>MOOE</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-6 pr-0">
            <p class="text-right">60,000.00</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-5"><b>Capital Outlay</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-6 pr-0">
            <p class="text-right">0.00</p>
        </div>
    </div>
    <div class="col m-0 p-0">
        <hr style="border-color: black">
    </div>
    <div class="row">
        <label class="col-sm-5"><b>Total (Php)</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-6 pr-0">
            <p class="text-right"><b>60,000.00</b></p>
        </div>
    </div>
</div>
<div class="col-md-6 ml-0 col-sm-6">
    <div class="row">
        <div class="col mr-1 bg-active">
            <div class="form-group text-center custom-form-margin">
                <label class="mt-1"><i>Climate Change</i></label>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-sm-8 pl-0"><b>Climate Change Adoptation</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-3 pr-0">
            <p class="text-right">0.00</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-8 pl-0"><b>Climate Change Mitigation</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-3 pr-0">
            <p class="text-right">0.00</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-8 pl-0"><b>Climate Change Typology Code</b></label>
        <label class="pull-right">:</label>
        <div class="col-sm-3 pr-0">
            <p class="text-right">0.00</p>
        </div>
    </div>
</div>


