
@{
    ViewBag.Title = "FileAccounts";
}
<script>
    $("#FileMaintenanceAccountsID").addClass("active");
</script>
@*BODY*@
<div class="content-body" id="FMAccountsController" ng-controller="FMAccountsController" ng-init="RevisionCOATab()">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        @*NAV TAB*@
                        <div class="card box-shadow-2">
                            <div class="row m-0">
                                <ul class="nav nav-tabs nav-underline">
                                    <li class="nav-item">
                                        <a class="nav-link  bg-backcolorheader custom-pad active" id="base-tabRevision" ng-click="RevisionCOATab()" data-toggle="tab" aria-controls="tabRevision" href="#tabRevision" aria-expanded="false">Revision Year</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link bg-backcolorheader custom-pad" id="base-tabAllotment" ng-click="AllotmentClassTab()" data-toggle="tab" aria-controls="tabAllotment" href="#tabAllotment" aria-expanded="false">Allotment Class</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link bg-backcolorheader custom-pad" id="base-tabAccntGroup" ng-click="AccountGroupTab()" data-toggle="tab" aria-controls="tabAccntGroup" href="#tabAccntGroup" aria-expanded="false">Account Group</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link bg-backcolorheader custom-pad " id="base-tabMajorAccnt" ng-click="MajorAccountGroupTab()" data-toggle="tab" aria-controls="tabMajorAccnt" href="#tabMajorAccnt" aria-expanded="false">Major Account Group</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link bg-backcolorheader custom-pad " id="base-tabSubMajorAccnt" ng-click="SubMajorAccountGroupTab()" data-toggle="tab" aria-controls="tabSubMajorAccnt" href="#tabSubMajorAccnt" aria-expanded="false">SubMajor Account Group</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link bg-backcolorheader custom-pad" id="base-tabGenAccnt" ng-click="GeneralAccountTab()" data-toggle="tab" aria-controls="tabGenAccnt" href="#tabGenAccnt" aria-expanded="false">General Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link bg-backcolorheader custom-pad" id="base-tabSubsiLedger" ng-click="SubsiLedgerTab()" data-toggle="tab" aria-controls="tabSubsiLedger" href="#tabSubsiLedger" aria-expanded="false">Subsidiary Ledger</a>
                                    </li>
                                </ul>
                                <div class="tab-content w-100 skin skin-square" id="nav-tabContent">
                                    <div class="tab-content px-1 pt-1 card-body rounded box-shadow-3">

                                        <div class="tab-pane active" id="tabRevision" ng-bind-html="tabRevision">
                                           
                                        </div>
                                        <div class="tab-pane" id="tabAllotment" ng-bind-html="tabAllotment">

                                        </div>
                                        <div class="tab-pane" id="tabAccntGroup" ng-bind-html="tabAccntGroup">

                                        </div>
                                        <div class="tab-pane " id="tabMajorAccnt" ng-bind-html="tabMajorAccnt">

                                        </div>
                                        <div class="tab-pane" id="tabSubMajorAccnt" ng-bind-html="tabSubMajorAccnt">

                                        </div>
                                        <div class="tab-pane" id="tabGenAccnt" ng-bind-html="tabGenAccnt">

                                        </div>
                                        <div class="tab-pane" id="tabSubsiLedger" ng-bind-html="tabSubsiLedger">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    app.controller('FMAccountsController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.RevisionCOATab = function () {
            ClearTabContent();
            F.tabRevision = null;
            P({
                url: '/FileMaintenanceAccounts/RevisionCOATab',
            }).then(function (response) {
                F.tabRevision = D(response.data);
            });
        }
        F.AllotmentClassTab = function () {
            ClearTabContent(); 
            F.tabAllotment = null;
            P({
                url: '/FileMaintenanceAccounts/AllotmentClassTab',
            }).then(function (response) {
                F.tabAllotment = D(response.data);
            });
        }
        F.AccountGroupTab = function () {
            ClearTabContent(); 
            F.tabAccntGroup = null;
            P({
                url: '/FileMaintenanceAccounts/AccountGroupTab',
            }).then(function (response) {
                F.tabAccntGroup = D(response.data);
            });
        }
        F.MajorAccountGroupTab = function () {
            ClearTabContent();
            F.tabMajorAccnt = null;
            P({
                url: '/FileMaintenanceAccounts/MajorAccountGroupTab',
            }).then(function (response) {
                F.tabMajorAccnt = D(response.data);
            });
        }
        F.SubMajorAccountGroupTab = function () {
            ClearTabContent();
            F.tabSubMajorAccnt = null;
            P({
                url: '/FileMaintenanceAccounts/SubMajorAccountGroupTab',
            }).then(function (response) {
                F.tabSubMajorAccnt = D(response.data);
            });
        }
        F.GeneralAccountTab = function () {
            ClearTabContent();
            F.tabGenAccnt = null;
            P({
                url: '/FileMaintenanceAccounts/GeneralAccountTab',
            }).then(function (response) {
                F.tabGenAccnt = D(response.data);
            });
        }
        F.SubsiLedgerTab = function () {
            ClearTabContent();
            F.tabSubsiLedger = null;
            P({
                url: '/FileMaintenanceAccounts/SubsiLedgerTab',
            }).then(function (response) {
                F.tabSubsiLedger = D(response.data);
            });
        }
        
    });


    function ClearTabContent() {
        $("#tabRevision").html("");
        $("#tabAllotment").html("");
        $("#tabAccntGroup").html("");
        $("#tabMajorAccnt").html("");
        $("#tabSubMajorAccnt").html("");
        $("#tabGenAccnt").html("");
        $("#tabSubsiLedger").html("");
    }
</script> 