<div class="col-md-6">
    <div class="form-group">
        <label class="custom-form-margin">Vission:</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div>
        <div class="form-group mb-0">
            <label class="custom-form-margin">or select from existing Vissions:</label>
        </div>
        <div class="fieldset form-control" style="height: 160px">
            <table class="table table-bordered table-smss-hover">
                <tbody>
                    <tr class="red">
                        <td>No VISSION to display.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <div class="form-group mb-0">
            <label class="custom-form-margin">Mission:</label>
        </div>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div>
        <div class="form-group mb-0">
            <label class="custom-form-margin">or select from Missions:</label>
        </div>
        <div class="fieldset form-control" style="height: 160px">
            <table class="table table-bordered table-smss-hover">
                <tbody>
                    <tr class="red">
                        <td>No MISSION to display.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
