<div class="col">
    <div class="form-group">
        <label class="custom-form-margin">Budgetary Requirements:</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div>
        <div class="form-group mb-0">
            <label class="custom-form-margin">or select from existing Budgetary Requirements:</label>
        </div>
        <div class="formset form-control" style="height: 160px">
            <table class="table table-bordered table-smss-hover">
                <tbody>
                    <tr class="red">
                        <td>No BUDGETARY REQUIREMENTS to display.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 bg-active">
            <div class="form-group text-center custom-form-margin">
                <label class="mt-1"><i>Estimated Cost</i></label>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-md-6 mb-0 mt-1">
            <div class="form-group row custom-form-margin">
                <label class="col-md-3 mr-1 pr-0 font-small-3">Personal Services:</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control text-right" placeholder="0.00" data-type="currency">
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-0 mt-1">
            <div class="form-group row custom-form-margin">
                <label class="col-md-3 mr-1 pr-0 font-small-3">MOOE:</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control text-right" placeholder="0.00" data-type="currency">
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-md-6 mb-0">
            <div class="form-group row custom-form-margin">
                <label class="col-md-3 mr-1 pr-0 font-small-3">Capital Outlay:</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control text-right" placeholder="0.00" data-type="currency">
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-0">
            <div class="form-group row custom-form-margin">
                <label class="col-md-3 mr-1 pr-0 font-small-3">Other Fee:</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control text-right" placeholder="0.00" data-type="currency">
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-md-6 mb-0">
        </div>
        <div class="col-md-6 mb-0">
            <div class="form-group row custom-form-margin">
                <label class="col-md-3 mr-1 pr-0 font-small-3">Total (Php):</label>
                <div class="col-md-8 pl-0">
                    <input type="text" class="form-control text-right text-bold-700" placeholder="0.00" data-type="currency">
                </div>
            </div>
        </div>
    </div>

</div>
