@model BOSS.Models.FMAccounts.GeneralAccountsModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@*<div id="pintempID">

    </div>*@
<div class="row">

    <div class="col-md-3">
    </div>
    <div class="mt-2 col-md-5">
        <div class="form-group row">
            <label class="text-right col-md-5 label-control mt-1" for="projectinput1">Current PIN</label>
            <div class="col-md-7 mx-0 ">
                @Html.TextBoxFor(m => m.Pin_Acct, new { @class = "form-control mr-1", type = "password", id = "Pin_Acct", onkeyup = "ValidatePin()", autofocus = "autofocus" })
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5">
        <div class="form-group row">
            <label class="text-right col-md-5 label-control mt-1" for="projectinput1">Enter New PIN</label>
            <div class="col-md-7 mx-0">
                @Html.TextBoxFor(m => m.newPIN, new { @class = "form-control", type = "password", id = "newPIN" ,
               disabled = "disabled",
               onkeyup = "validateNewPin()"
           })
            </div>
        </div>
    </div>
</div> 
@using (Ajax.BeginForm("UpdatePIN", "FileMaintenanceAccounts", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('ClearFields','PIN Successfully Updated!')", OnFailure = "", }))
{
    <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-5">
            <div class="form-group row">
                <label class="text-right col-md-5 label-control mt-1" for="projectinput1">Confirm PIN</label>
                <div class="col-md-7 mx-0">
                    @Html.TextBoxFor(m => m.confirm_newPIN, new
               {
                   @class = "form-control",
                   type = "password",
                   id = "confirm_newPIN",
                   disabled = "disabled",
                   onkeyup = "validateNewPin()"
               })
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-4">
            <button type="submit" id="btnSavePin" class="btn btn-btnbackcolor btn-min-width" disabled>
                Save
            </button>
        </div>
    </div>
}

<script>
    function ValidatePin() {
        var Pin_Acct = $("#Pin_Acct").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/ValidatePin',
            data: { Pin_Acct: Pin_Acct },
            success: function (pinStatus) {
                if (pinStatus == 1) {
                    $('#newPIN').removeAttr("disabled");
                    $('#confirm_newPIN').removeAttr("disabled");
                } else {
                    $('#newPIN').attr("disabled", true);
                    $('#confirm_newPIN').attr("disabled", true);
                }
            }
        })
    }
    function validateNewPin() {
        if ($("#confirm_newPIN").val() == "" && $("#newPIN").val() == "") {
            document.getElementById("btnSavePin").disabled = true;
        }
        else {
            if ($("#confirm_newPIN").val() == $("#newPIN").val()) {
                document.getElementById("btnSavePin").disabled = false;
            }
            else {
                document.getElementById("btnSavePin").disabled = true;
            }
        }
    }
    function ClearFields() {
        $("#Pin_Acct").val("");
        $("#newPIN").val("");
        $("#confirm_newPIN").val("");
        $('#newPIN').attr("disabled", true);
        $('#confirm_newPIN').attr("disabled", true);
        document.getElementById("btnSavePin").disabled = true;
    }
</script>