
@{
    ViewBag.Title = "FilePayee";
}
<script>
    $("#FileMaintenancePayeeID").addClass("active");
</script>

<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Payee</strong></h3>
    </div>
</div>
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-4">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="card-body px-1 card-body rounded menubackground">
                            <div id="payeeTempID">

                            </div>
                        </div>
                        <div class="mt-2" id="payeeTableID">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script>
        app.controller('FMPayeeController', function ($scope, $http, $sce) {
            var F = $scope, P = $http, D = $sce.trustAsHtml;
            //Get Payee Datatable Partial View
            F.InitFunctions = function () {
                F.GetPayeeDTable();
            }//Get Datatable Partial View
            F.GetPayeeDTable = function () {
                P({
                    url: '/FileMaintenancePayee/GetPayeeDTable',
                }).then(function (response) {
                    $('#payeeTableID').html(response.data);
                    F.Get_AddPayee();
                });
            }
            F.Get_AddPayee = function () {
                P({
                    url: '/FileMaintenancePayee/Get_AddPayee',
                }).then(function (response) {
                    $('#payeeTempID').html(response.data);

                });
            }
            F.Get_UpdatePayee = function (PayeeID) {
                P({
                    url: '/FileMaintenancePayee/Get_UpdatePayee',
                    params: { PayeeID: PayeeID }
                }).then(function (response) {
                    $('#payeeTempID').html(response.data);
                });
            }
            F.DeletePayee = function (PayeeID) {
                P({
                    url: '/FileMaintenancePayee/DeletePayee',
                    params: { PayeeID: PayeeID }
                }).then(function (response) {
                    F.GetPayeeDTable();
                });
            }
        });
    </script>*@
