@model BOSS.Models.FMmodels.FMResCenterModels.SectionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="card-body px-1 card-body rounded menubackground">
    <div id="sectionTempID">

    </div>
</div>
<div class="mt-2" id="sectionTableID">

</div>

<script>
$(function () {
    GetSectionDT();
})
function GetSectionDT() {
    $.ajax({
        url: '/FileMaintenanceResponsibility/GetSectionDT',
        success: function (result) {
            $("#sectionTableID").html(result);
            GetAddSection();
        }
    })
}
//Add Section
function GetAddSection() {
    $.ajax({
        url: '/FileMaintenanceResponsibility/GetAddSection',
        success: function (result) {
            $('#sectionTempID').html(result);
        }
    })
}
function GetDynamicFunction() {
    var DeptID = $("#DeptIDsec").val();
    $.ajax({
        url: '/FileMaintenanceResponsibility/GetDynamicFunction',
        data: { DeptID: DeptID },
        success: function (result) {
            $('#FunctionListID').html(result);
        }
    })
}
function GetDynamicFunction2(DeptID, FunctionIDHidden) {
    $.ajax({
        url: '/FileMaintenanceResponsibility/GetDynamicFunction2',
        data: { DeptID: DeptID, FunctionIDHidden: FunctionIDHidden },
        success: function (result) {
            $("#FunctionListID").html(result);
        }
    })
}
function GetDynamicFunction3() {
    var DeptID = $("#DeptIDsec2").val();
    $.ajax({
        url: '/FileMaintenanceResponsibility/GetDynamicFunction',
        data: { DeptID: DeptID },
        success: function (result) {
            $("#FunctionListID").html(result);
        }
    })
}
//Upadate Office Section
function Get_UpdateSection(SectionID) {
    $.ajax({
        url: '/FileMaintenanceResponsibility/Get_UpdateSection',
        data: { SectionID: SectionID },
        success: function (result) {
            $('#sectionTempID').html(result);
        }
    })
}
function DeleteSection(SectionID) {
    $.ajax({
        url: '/FileMaintenanceResponsibility/DeleteSection',
        data: { SectionID: SectionID },
        success: function (result) {
            GetSectionDT();
        }
    })
}
</script>
