@model BOSS.Models.FMmodels.FMResCenterModels.SectionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("UpdateSection", "FileMaintenanceResponsibility", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal( 'GetSectionDT','Successfully Updated!')", OnFailure = "", }))
{
    @Html.HiddenFor(m => m.SectionID, new { })
    @Html.HiddenFor(m => m.FunctionIDHidden, new { id = "FunctionIDHidden" })
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="form-group">
                <label class="custom-form-margin">Department</label>
                @Html.DropDownListFor(m => m.DeptID, Model.DeptSelectionList2, new { @class = "form-control select2", id = "DeptIDsec2", onchange = "LoadGetDynamicFunction3();" })

            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6" id="FunctionListID">
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="form-group">
                <label class="custom-form-margin">Section</label>
                @Html.TextAreaFor(m => m.getSectionColumns.SectionTitle, new { @class = "form-control", @rows = 1, id = "OfficeSecTitle" })
            </div>
        </div>
        <div class="col">
            <div class="form-group mt-xl-0 mt-lg-2 mt-md-2">
                <button type="button" class="btn btn-menuRed btn-min-width ml-1 float-right" onclick="GetSectionDT()">
                    Cancel
                </button>
                <button type="submit" class="btn btn-btnbackcolor btn-min-width float-right">
                    Update
                </button>
            </div>
        </div>
    </div>
        }
        <script>
    $(function () {
        LoadGetDynamicFunction2();
        LoadICheck();
        select2nosearch();
    })
    function LoadGetDynamicFunction2() {
        var DeptID = $("#DeptIDsec2").val();
        var FunctionIDHidden = $("#FunctionIDHidden").val();
        GetDynamicFunction2(DeptID, FunctionIDHidden);
    }
    function LoadGetDynamicFunction3() {
        GetDynamicFunction3();
    }
        </script>
