
@{
    ViewBag.Title = "FileSector";
}

<script>
    $("#FileMaintenanceSectorID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Sector</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body" id="FMResponsibilityController" ng-controller="FMSectorController" ng-init="SectorTab()">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-4">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        @*NAV TAB*@
                        <div class="card box-shadow-2">
                            <div class="row m-0">
                                <ul class="nav nav-tabs nav-underline">
                                    <li class="nav-item">
                                        <a class="nav-link active bg-backcolorheader" ng-click="SectorTab()" id="base-tabSectorID" data-toggle="tab" aria-controls="tabSectorID" href="#tabSectorID" aria-expanded="true">Sector</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link bg-backcolorheader" id="base-tabSubSectorID" ng-click="SubSectorTab()" data-toggle="tab" aria-controls="tabSubSectorID" href="#tabSubSectorID" aria-expanded="false">Sub Sector</a>
                                    </li>
                                </ul>
                                @*TAB*@
                                <div class="tab-content w-100" id="nav-tabContent">
                                    <div class="tab-content px-1 pt-1 card-body rounded box-shadow-3">
                                        @*Sector Tab*@
                                        <div class="tab-pane active" id="tabSectorID" ng-bind-html="tabSectorID">

                                        </div>
                                        @*Sub-Sector Tab*@
                                        <div class="tab-pane" id="tabSubSectorID" ng-bind-html="tabSubSectorID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*=============================================*@
<script>
    app.controller('FMSectorController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.SectorTab = function () {
            F.tabSectorID = null;
            P({
                url: '/FileMaintenanceSector/SectorTab',
            }).then(function (response) {
                F.tabSectorID = D(response.data);
            });
        }
        F.SubSectorTab = function () {
            F.tabSubSectorID = null;
            P({
                url: '/FileMaintenanceSector/SubSectorTab',
            }).then(function (response) {
                F.tabSubSectorID = D(response.data);
            });
        }
    });
</script>
