@model BOSS.Models.FMmodels.FMAppropriarionSouceModels.AppropSourceModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
<div class="form-group">
    <label style="margin-bottom:2px;">Fund Source</label>
        @Html.DropDownListFor(m => m.FundSourceID, Model.FundSourceList, new { @class = "form-control select2nosearch", id = "FundSourceID" })
       
</div>

<script>
    $(function () {
        select2nosearch();
    })
</script>