@model BOSS.Models.FMmodels.FMAppropriarionSouceModels.AppropSourceModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
    <div class="card-body px-1 card-body rounded menubackground">
        <div id="AppropSoureIDTemp">

        </div>
    </div>
    <div class="mt-2" id="ApproSourceID">

    </div>

    <script>
        $(function () {
            GetAppropriationSourceDT();
        })
        function GetAppropriationSourceDT() {
            $.ajax({
                url: '/FileMaintenanceAppropriation/GetAppropriationSourceDT',
                success: function (result) {
                    $("#ApproSourceID").html(result);
                    GetAddAppropSource();
                }
            })
        }
        //Get GetAppropriation Source Add Partial View
        function GetAddAppropSource() {
            $.ajax({
                url: '/FileMaintenanceAppropriation/GetAddAppropSource',
                success: function (result) {
                    $("#AppropSoureIDTemp").html(result);
                }
            })
        }
        function GetDynamicFund() {
            var AppropSourceTypeID = $("#AppropSourceTypeIDAP").val();
            $.ajax({
                url: '/FileMaintenanceAppropriation/GetDynamicFund',
                data: { AppropSourceTypeID: AppropSourceTypeID },
                success: function (result) {
                    $("#FundSourcetempID").html(result);
                }
            })
        }
        function GetDynamicFund2(AppropSourceTypeID, FundSourceIDHidden) {
            $.ajax({
                url: '/FileMaintenanceAppropriation/GetDynamicFund2',
                data: { AppropSourceTypeID: AppropSourceTypeID, FundSourceIDHidden: FundSourceIDHidden },
                success: function (result) {
                    $("#FundSourcetempID").html(result);
                }
            })
        }
        function GetDynamicFund3() {
            var AppropSourceTypeID = $("#AppropSourceTypeID2").val();
            $.ajax({
                url: '/FileMaintenanceAppropriation/GetDynamicFund',
                data: { AppropSourceTypeID: AppropSourceTypeID },
                success: function (result) {
                    $("#FundSourcetempID").html(result);
                }
            })
        }
        ////Get GetAppropriation Source Update Partial View
        function Get_UpdateAppropSource(AppropriationID) {
            $.ajax({
                url: '/FileMaintenanceAppropriation/Get_UpdateAppropSource',
                data: { AppropriationID: AppropriationID },
                success: function (result) {
                    $("#AppropSoureIDTemp").html(result);
                }
            })
        }
        //Delete AppropriationSource
        function DeleteAppropriationSource(AppropriationID) {
            $.ajax({
                url: '/FileMaintenanceAppropriation/DeleteAppropriationSource',
                data: { AppropriationID: AppropriationID },
                success: function (result) {
                    GetAppropriationSourceDT();
                }
            })
        }

    </script>
