<div class="card-body px-1 card-body rounded menubackground">
    <div id="generalAccntTempID">

    </div>
</div>
<div class="mt-2" id="tablegeneralAccntID">

</div>

<script>
    $(function () {
        GetGeneralAccountDT();
    })
    function GetGeneralAccountDT() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetGeneralAccountDT',
            success: function (result) {
                $("#tablegeneralAccntID").html(result);
                GetAddGeneralAccount();
            }
        })
    }
    function GetAddGeneralAccount() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetAddGeneralAccount',
            success: function (result) {
                $("#generalAccntTempID").html(result);
                GetDynamicRevYearGA();
            }
        })
    }
    //Get Dynamic Revision Year Partial View
    function GetDynamicRevYearGA() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicRevYear',
            success: function (result) {
                $("#RevYearGAID").html(result);
                GetDynamicAllotClassGA();
                onchangeAllotmentClassGA();
            }
        })
    }
    function GetDynamicAllotClassGA() {
        var RevID = $("#RevID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicAllotClass',
            data: { RevID: RevID },
            success: function (result) {
                $("#AllotmentGAID").html(result);
                GetDynamicAccountGroupGA();
                onchangeAccountGroupGA();
                
            }
        })
    }
    function GetDynamicAccountGroupGA() {
        var AllotmentClassID = $("#AllotmentClassID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicAccountGroup',
            data: { AllotmentClassID: AllotmentClassID },
            success: function (result) {
                $("#AccountGroupGAID").html(result);
                GetAccountGroupCodeGA();
                onchangeAccountGroupGA2();
                GetDynamicMajorAccountGroupGA(); 
                onchangeMajorAccountGroupGA();
            }
        })
    }
    //Display dynamic Major Account Group Partial View
    function GetDynamicMajorAccountGroupGA() {
        var AGID = $("#AGID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicMajorAccountGroup',
            data: { AGID: AGID },
            success: function (result) {
                $("#MajorAccountGAID").html(result);
                GetMajorAccountGroupCodeGA();
                onchangeMajorAccountCodeGroupGA2();
                GetDynamicSubMajorAccountGroupGA();
                onchangeSubMajorAccountGroupGA();
                
            }
        })
    }
    //Display dynamic Sub Major Account Group Partial View
    function GetDynamicSubMajorAccountGroupGA() {
        var MAGID = $("#MAGID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicSubMajorAccountGroup',
            data: { MAGID: MAGID },
            success: function (result) {
                $("#SubMajorAccountGAID").html(result);
                GetSubMajorAccountGroupCodeGA();
                onchangeSubMajorAccountCodeGroupGA2();
            }
        })
    }
    //------------------------------------------------------------------------------------------------
    //Get Account Group Code for onchange in Allotment DropDown
    function GetAccountGroupCodeGA() {
        var AllotmentClassID = $("#AllotmentClassID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetAccountGroupCode',
            data: { AllotmentClassID: AllotmentClassID },
            success: function (result) {
                $('#accountGrpCodeGAID').html(result);
            }
        })
    }
    //Get Account Group Code for onchange in Account Group DropDown
    function GetAccountGroupCodeGA2() {
        var AGID = $("#AGID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetAccountGroupCode2',
            data: { AGID: AGID },
            success: function (result) {
                $('#accountGrpCodeGAID').html(result);
                GetDynamicMajorAccountGroupGA
            }
        })
    }
    //Display Dynamic Major Account code partial view 
    function GetMajorAccountGroupCodeGA() {
        var AGID = $("#AGID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetMajorAccountGroupCode',
            data: { AGID: AGID },
            success: function (result) {
                $('#majorAccountGrpCodeGAID').html(result);
            }
        })
    }
    function GetMajorAccountGroupCodeGA2() {
        var MAGID = $("#MAGID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetMajorAccountGroupCode2',
            data: { MAGID: MAGID },
            success: function (result) {
                $('#majorAccountGrpCodeGAID').html(result);
            }
        })
    }
    //Display Dynamic Major Account code partial view 
    function GetSubMajorAccountGroupCodeGA() {
        var MAGID = $("#MAGID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetSubMajorAccountGroupCode',
            data: { MAGID: MAGID },
            success: function (result) {
                $('#subMajorAccountGrpCodeGAID').html(result);
            }
        })
    }
    function GetSubMajorAccountGroupCodeGA2() {
        var SMAGID = $("#SMAGID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetSubMajorAccountGroupCode2',
            data: { SMAGID: SMAGID },
            success: function (result) {
                $('#subMajorAccountGrpCodeGAID').html(result);
            }
        })
    }

    //------------------------------------------------------------------------------------------------
    //Onchange for Allotment Class
    function onchangeAllotmentClassGA() {
        $("#RevID").on("change", function () {
            GetDynamicAllotClassGA();
        });
    }
    //Onchange Account Group                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    function onchangeAccountGroupGA() {
        $("#AllotmentClassID").on("change", function () {
            GetDynamicAccountGroupGA();
        });
    }
    //Onchange Major Account Group                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    function onchangeMajorAccountGroupGA() {
        $("#AGID").on("change", function () {
            GetDynamicMajorAccountGroupGA();
        });
    } 
    //Onchange Sub Major Account Group                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    function onchangeSubMajorAccountGroupGA() {
        $("#MAGID").on("change", function () {
            GetDynamicSubMajorAccountGroupGA();
        });
    }
    //Onchange for Account Group Code
    function onchangeAccountGroupGA2() {
        $("#AGID").on("change", function () {
            GetAccountGroupCodeGA2();
        });
    }
    function onchangeMajorAccountCodeGroupGA() {
        $("#AGID").on("change", function () {
            GetMajorAccountGroupCodeGA();
        });
    }
    function onchangeMajorAccountCodeGroupGA2() {
        $("#MAGID").on("change", function () {
            GetMajorAccountGroupCodeGA2();
        });
    }
    function onchangeSubMajorAccountCodeGroupGA() {
        $("#MAGID").on("change", function () {
            GetSubMajorAccountGroupCodeGA();
        });
    }
    function onchangeSubMajorAccountCodeGroupGA2() {
        $("#SMAGID").on("change", function () {
            GetSubMajorAccountGroupCodeGA2();
        });
    }
</script>

<script>
    function GetDyanmicGeneralLedgerAccountnoselect() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDyanmicGeneralLedgerAccountnoselect',
            success: function (result) {
                $("#generalLedgerAccntID").html(result);
                $("#GAID").attr("disabled", "disabled");
                isSelected();
            }
        })
    }
    function GetDyanmicGeneralLedgerAccount() {
        var isSelected = $("#isSelected").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDyanmicGeneralLedgerAccount',
            data: { isSelected: isSelected },
            success: function (result) {
                $("#generalLedgerAccntID").html(result);
            }
        })
    }
    function isSelected() {
        $(document).on('change', '.checkbox', function () {
            if ($('#isContraID').is(':checked')) {
                $("#isSubID").prop("checked", false);
                $('#GenLedgerID').text('Contra Account');
                $("#GAID").removeAttr("disabled");
                $("#isSelected").val(1);
                GetDyanmicGeneralLedgerAccount();
            } else if ($('#isSubID').is(':checked')) {
                $("#isContraID").prop("checked", false);
                $('#GenLedgerID').text('Sub Account');
                $("#GAID").removeAttr("disabled");
                $("#isSelected").val(2);
                GetDyanmicGeneralLedgerAccount();
            }
            else {
                $("#GAID").attr("disabled", "disabled");
                $("#isSelected").val(0);
                $('#GenLedgerID').text('General Ledger Account');
            }
        });
    }
    function isReserveOnChange() {
        var isReserveValue = $("#isReserveIDD").val();
        if (isReserveValue == "True") {
            $("#isReserveID").val("True");
            $("#ReservePercent").removeAttr('disabled');
            $("#ReservePercent").val("");
        } else {
            $("#isReserveID").val("False");
            $("#ReservePercent").attr("disabled", "disabled");
            $("#ReservePercent").val(0);
        }
    }
    function isOBRCashAdvanceOnChange() {
        $("#isOBRCashAdvanceID").val($("#isOBRCashAdvanceIDD").val());
    }
    function isContinuingOnChange() {
        $("#isContinuingID").val($("#isContinuingIDD").val());
    }
    function isFullReleaseOnChange() {
        $("#isFullReleaseID").val($("#isFullReleaseIDD").val());
    }
</script>