
<div class="card-body px-1 card-body rounded menubackground">
    <div id="fundSourceTampID">

    </div>
</div>
<div class="mt-2" id="fundSourceTableID">

</div>
<script>
    $(function () {
        GetFundSourceDT();
    })
    function GetFundSourceDT() {
        $.ajax({
            url: '/FileMaintenanceAppropriation/GetFundSourceDT',
            success: function (result) {
                $("#fundSourceTableID").html(result);
                Get_AddFundSource();
            }
        })
    }
    function Get_AddFundSource() {
        $.ajax({
            url: '/FileMaintenanceAppropriation/Get_AddFundSource',
            success: function (result) {
                $("#fundSourceTampID").html(result);
            }
        })
    }
    function Get_UpdateAFundSource(FundSourceID) {
        $.ajax({
            url: '/FileMaintenanceAppropriation/Get_UpdateAFundSource',
            data: { FundSourceID: FundSourceID },
            success: function (result) {
                $("#fundSourceTampID").html(result);
            }
        })
    }
    function DeleteFundSource(FundSourceID) {
        $.ajax({
            url: '/FileMaintenanceAppropriation/DeleteFundSource',
            data: { FundSourceID: FundSourceID },
            success: function (result) {
                GetFundSourceDT();
            }
        })
    }
</script>

