@model BOSS.Models.FMmodels.FMAccountsModels.RevisionYearModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="card-body px-1 card-body rounded menubackground">
    <div id="RCOATempID">

    </div>
</div>

<div class="mt-1" id="tableRCOAID">
</div>

<script>
    $(function () {
        GetRevisionCOADT();
    })
    function GetRevisionCOADT() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetRevisionCOADT',
            success: function (result) {
                $("#tableRCOAID").html(result);
                GetAddRevision();
            }
        })
    }
    function GetAddRevision() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetAddRevision',
            success: function (result) {
                $("#RCOATempID").html(result);
            }
        })
    }
    function Get_UpdateRevCOA(RevID) {
        $.ajax({
            url: '/FileMaintenanceAccounts/Get_UpdateRevCOA',
            data: { RevID: RevID },
            success: function (result) {
                $('#RCOATempID').html(result);
            }
        })
    }
    function DeleteRCOA(RevID) {
        $.ajax({
            url: '/FileMaintenanceAccounts/DeleteRCOA',
            data: { RevID: RevID },
            success: function (result) {
                GetRevisionCOADT();
            }
        })
    }
</script>