
@{
    ViewBag.Title = "ReportListofAllotment";
}

<script>
    $("#ExecutionReportListofAllotmentID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Report - List of Allotment Releases</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2 col-sm-4 form-group">
                                <label>Budget Year</label>
                                <select class="form-control">
                                    <option>2018</option>
                                </select>
                            </div>

                            <div class="col-md-3 col-sm-4 form-group">
                                <label>Fund</label>
                                <select class="form-control">
                                    <option>General Fund</option>
                                </select>
                            </div>

                            <div class="col-md-3 col-sm-4 form-group">
                                <label>Allotment Type</label>
                                <select class="form-control">
                                    <option>-All-</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2 col-sm-4 form-group">
                                <label>Quarter Ending</label>
                                <select class="form-control">
                                    <option>As of</option>
                                </select>
                            </div>

                            <div class="col-md-3 col-sm-4 form-group">
                                <label>As of Date</label>
                                <select class="form-control">
                                    <option>1/15/18</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-4 form-group">
                                <label style="visibility:hidden">As of Date</label>
                                <button class="btn btn-btnbackcolor form-control btn-min-width pull-right">Preview</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>