@model BOSS.Models.FMmodels.FMResCenterModels.DepartmentModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
<div class="card-body px-1 card-body rounded menubackground">
    <div id="DepartmentTempID">

    </div>
</div>
<div class="mt-2" id="DepartmentID">

</div>

<script>
    $(function () {
        GetDepartmentDT();
    })
    function GetDepartmentDT() {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDepartmentDT',
            //data: { DeptID: DeptID },
            success: function (result) {
                $("#DepartmentID").html(result);
                GetAddDepartment();
            }
        })
    }
    function GetAddDepartment() {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetAddDepartment',
            success: function (result) {
                $("#DepartmentTempID").html(result);
            }
        })
    }
    function Get_UpdateDepartment(DeptID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/Get_UpdateDepartment',
            data: { DeptID: DeptID },
            success: function (result) {
                $("#DepartmentTempID").html(result);
            }
        })
    }
    function DeleteDepartment(DeptID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/DeleteDepartment',
            data: { DeptID: DeptID },
            success: function (result) {
                GetDepartmentDT();
            }
        })
    }
    function GetDynamicSubSector() {
        var SectorID = $("#SecID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDynamicSubSector',
            data: { SectorID: SectorID },
            success: function (result) {
                $("#SubSectorID").html(result);
            }
        })
    }
    function GetDynamicSubSector2(SectorID, subsectorIDHidden) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDynamicSubSector2',
            data: { SectorID: SectorID, subsectorIDHidden: subsectorIDHidden },
            success: function (result) {
                $("#SubSectorID").html(result);
            }
        })
    }
    function GetDynamicSubSector3() {
        var SectorID = $("#SecID2").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDynamicSubSector',
            data: { SectorID: SectorID },
            success: function (result) {
                $("#SubSectorID").html(result);
            }
        })
    }
</script>
