
@{
    ViewBag.Title = "FileMaintenanceBank";
}
<script>
    $("#FileMaintenanceBankID").addClass("active");
</script>

<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Barangay</strong></h3>
    </div>
</div>
<div class="row">
    <div class="content-header-left col-md-12">
        <div class="card box-shadow-4">
            <div class="card-content collapse show">
                <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                    @*NAV TAB*@
                    <div class="card box-shadow-2">
                        <div class="row m-0">
                            <ul class="nav nav-tabs nav-underline">
                                <li class="nav-item ">
                                    <a class="nav-link active bg-backcolorheader btn-min-width" id="BankNavID" data-toggle="tab" aria-controls="tabBankID" href="#tabBankID" aria-expanded="false">Bank</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-backcolorheader btn-min-width" id="AccountTypeNaviID" data-toggle="tab" aria-controls="tabAccountTypeID" href="#tabAccountTypeID" aria-expanded="false">Account Type</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-backcolorheader btn-min-width" id="BankAccountNaviID" data-toggle="tab" aria-controls="tabBankAccountsID" href="#tabBankAccountsID" aria-expanded="false">Bank Accounts</a>
                                </li>
                            </ul>
                            @*TAB*@
                            <div class="tab-content w-100" id="nav-tabContent">
                                <div class="tab-content px-1 pt-1 card-body rounded box-shadow-3">
                                    <div class="tab-pane" id="tabBankID">
                                    </div>
                                    <div class="tab-pane" id="tabAccountTypeID">
                                    </div>
                                    <div class="tab-pane" id="tabBankAccntID">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#BankNavID").click();
    });
</script>