@model BOSS.Models.FMAccounts.SubAccountsModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;


<div class="form-group">
    <label style="margin-bottom:2px;">General Account</label>
    @Html.DropDownListFor(m => m.GenAccountID, Model.GeneralAccntList, new { @class = "form-control select2", id = "GenAccountID",
    onchange = "GetSubAccountDT(); GetGenAccntCodeField();"
})
</div>

<script>
    $(function () {
        GetSubAccountDT();
        LoadICheck();
    })
</script>