@model BOSS.Models.FMAccounts.SubAccountsModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div>
    @Html.TextBoxFor(m => m.GenAccountCode, new { @class = "accntCode text-center col-xs-1", type = "text", id = "GenAccountCode", disabled = "disabled" })
</div>

 
