@model BOSS.Models.FMAccounts.SubAccountsModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="row mt-1">
    <div class="col-md-1">
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label style="margin-bottom:2px;">Allotment Type</label>
            @Html.DropDownListFor(m => m.AllotmentID, Model.AllotmentClassList, new { @class = "form-control select2", id = "AllotmentID",
           onchange = "GetDynamicGenAccnt()"
       })
        </div>
    </div>
    <div class="col-md-6 col-sm-6" id="dynamicGenAccntID">

    </div>
</div>
<div id="SubAccntTempID">

</div>
<div id="TableSubAccntID" class="mt-2">

</div>

<script>
    $(function () {
        GetDynamicGenAccnt();
    })
//Sub Account
    function GetDynamicGenAccnt() {
        var AllotmentID = $("#AllotmentID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicGenAccnt',
            data: { AllotmentID: AllotmentID},
            success: function (result) {
                $("#dynamicGenAccntID").html(result);
                GetSubAccountDT();
            }
        })
    }
    function GetSubAccountDT() {
        var AllotmentID = $("#AllotmentID").val();
        var GenAccountID = $("#GenAccountID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetSubAccountDT',
            data: { AllotmentID: AllotmentID, GenAccountID: GenAccountID },
            success: function (result) {
                $("#TableSubAccntID").html(result);
                GetAddSubAccount(AllotmentID, GenAccountID);
            }
        })
    }
    function GetAddSubAccount(AllotmentID, GenAccountID) {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetAddSubAccount',
            data: { AllotmentID: AllotmentID, GenAccountID: GenAccountID },
            success: function (result) {
                $('#SubAccntTempID').html(result);
                GetGenAccntCodeField();
            }
        })
    }
    function GetGenAccntCodeField() {
        var GenAccountID = $("#GenAccountID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetGenAccntCodeField',
            data: { GenAccountID: GenAccountID },
            success: function (result) {
                $('#GenAccntID').html(result);
            }
        })
    }
    function Get_UpdateSubAcct(SubAccountID) {
        $.ajax({
            url: '/FileMaintenanceAccounts/Get_UpdateSubAcct',
            data: { SubAccountID: SubAccountID },
            success: function (result) {
                $('#SubAccntTempID').html(result);
                GetGenAccntCodeField();
            }
        })
    }
    function DeleteSubAcct(SubAccountID) {
        $.ajax({
            url: '/FileMaintenanceAccounts/DeleteSubAcct',
            data: { SubAccountID: SubAccountID },
            success: function (result) {
                GetSubAccountDT();
            }
        })
    }
</script>
