@model BOSS.Models.FMmodels.FMFundModels.SubFundModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
@using (Ajax.BeginForm("AddSubNewSubFund", "FileMaintenanceFund", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal( 'GetSubFundDTable','Successfully Saved!')", OnFailure = "", }))
{

    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-1"></div>
        <div class="col-xl-8 col-lg-8 col-md-10">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <div class="form-group">
                        <label class="custom-form-margin">Fund</label>
                        @Html.DropDownListFor(m => m.FundID, Model.FundSelectionList, new { @class = "form-control select2nosearch", id = "FundID" })
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="custom-form-margin">Sub Fund</label>
                        @Html.TextBoxFor(m => m.getSubFundColumns.SubFundTitle, new { @class = "form-control", id = "SubFundTitle" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="button" class="btn btn-menuRed btn-min-width ml-1 float-right" onclick="GetSubFundDTable()">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-btnbackcolor btn-min-width float-right">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        select2nosearch();
    })
</script>
