
@{
    ViewBag.Title = "IndexSubFund";
}
<div class="card-body px-1 card-body rounded menubackground">
    <div id="subfundTempID">

    </div>
</div>
<div class="mt-2" id="subfundTableID">

</div>

