
@{
    ViewBag.Title = "IndexSubFund";
}
<div class="card-body px-1 card-body rounded menubackground">
    <div id="subfundTempID">

    </div>
</div>
    <div class="mt-2" id="subfundTableID">

    </div>

    <script>
        $(function () {
            GetSubFundDTable();
        })
        function GetSubFundDTable() {
            $.ajax({
                url: '/FileMaintenanceFund/GetSubFundDTable',
                success: function (result) {
                    $("#subfundTableID").html(result);
                    Get_AddSubFund();
                }
            })
        }
        function Get_AddSubFund() {
            $.ajax({
                url: '/FileMaintenanceFund/Get_AddSubFund',
                success: function (result) {
                    $("#subfundTempID").html(result);
                }
            })
        }

        function Get_UpdateSubFund(SubFundID) {
            $.ajax({
                url: '/FileMaintenanceFund/Get_UpdateSubFund',
                data: { SubFundID: SubFundID },
                success: function (result) {
                    $("#subfundTempID").html(result);
                }
            })
        }
        function DeleteSubFund(SubFundID) {
            $.ajax({
                url: '/FileMaintenanceFund/DeleteSubFund',
                data: { SubFundID: SubFundID },
                success: function (result) {
                    GetSubFundDTable();
                }
            })
        }
    </script>


