@* Subsidiary Ledger Class Panel *@
<div class="card box-shadow-2 m-0 p-0">
    <div class="card-header bg-active mt-1">
        <h4 class="card-title black"><b>Subsidiary Ledger Class</b></h4>
        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus black"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="card-body px-1 pt-1 card-body rounded" style="border: 1px solid; border-color: #9BC69D;">

            <div id="SLClasstempID"></div>
            <div class="mt-2">
                <div id="tableSLClassID"></div>
            </div>
        </div>
    </div>
</div>
@* Subsidiary Ledger Account Panel *@
<div class="card box-shadow-2 m-0 p-0">
    <div class="card-header bg-active mt-1">
        <h4 class="card-title black"><b>Subsidiary Ledger Account</b></h4>
        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements mt-0">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus black"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="card-body px-1 pt-1 card-body rounded" style="border: 1px solid; border-color: #9BC69D;">

            <div id="SLAccnttempID"></div>
            <div class="mt-2">
                <div id="tableSLAccntID"></div>
            </div>
        </div>
    </div>
</div>

