@model BOSS.Models.FMmodels.FMResCenterModels.FunctionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
    ViewBag.Title = "FileResponsibility";
}
@using BOSS.Models;

<script>
    $("#FileMaintenanceResponsibilityID").addClass("active");
</script>
@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Responsibility Center</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-4">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        @*NAV TAB*@
                        <div class="card box-shadow-2">
                            <div class="row m-0">
                                <ul class="nav nav-tabs nav-underline">
                                    <li class="nav-item">
                                        <a class="nav-link active bg-backcolorheader" id="deptNavID" data-toggle="tab" aria-controls="tab1" href="#deptNavID" aria-expanded="true">Department</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link bg-backcolorheader" id="funcNavID" data-toggle="tab" aria-controls="tab2" href="#funcNavID" aria-expanded="false">Function</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link bg-backcolorheader" id="secNavID" data-toggle="tab" aria-controls="tab3" href="#secNavID" aria-expanded="false">Section</a>
                                    </li>
                                </ul>
                                @*TAB*@
                                <div class="tab-content w-100" id="nav-tabContent">
                                    <div class="tab-content px-1 pt-1 card-body rounded box-shadow-3">
                                        <div class="tab-pane active" id="tabDeptID">

                                        </div>
                                        <div class="tab-pane" id="tabFuncID">

                                        </div>
                                        <div class="tab-pane" id="tabSecID">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#deptNavID").click();
    });
</script>