
@{
    ViewBag.Title = "IndexSubSectorTab";
}
<div class="card-body px-1 card-body rounded menubackground">
    <div id="subsectortempID">

    </div>
</div>
    <div class="mt-2" id="subsectorTableID">

    </div>

    <script>
        $(function () {
            GetSubSectorDTable();
        })
        function GetSubSectorDTable() {
            $.ajax({
                url: '/FileMaintenanceSector/GetSubSectorDTable',
                success: function (result) {
                    $("#subsectorTableID").html(result);
                    Get_AddSubSector();
                }
            })
        }
        function Get_AddSubSector() {
            $.ajax({
                url: '/FileMaintenanceSector/Get_AddSubSector',
                success: function (result) {
                    $("#subsectortempID").html(result);
                    GetSectorCodeField();
                }
            })
        }
        function GetSectorCodeField() {
            var SectorID = $("#SectorID").val();
            $.ajax({
                url: '/FileMaintenanceSector/GetSectorCodeField',
                data: { SectorID: SectorID },
                success: function (result) {
                    $('#sectorcodeID').html(result);
                }
            })
        }
        function Get_UpdateSubSector(SubSectorID) {
            $.ajax({
                url: '/FileMaintenanceSector/Get_UpdateSubSector',
                data: { SubSectorID: SubSectorID },
                success: function (result) {
                    $("#subsectortempID").html(result);
                    GetSectorCodeField();
                }
            })
        }
        function DeleteSubSector(SubSectorID) {
            $.ajax({
                url: '/FileMaintenanceSector/DeleteSubSector',
                data: { SubSectorID: SubSectorID },
                success: function (result) {
                    GetSubSectorDTable();
                }
            })
        }
    </script>



