
<div class="row">
    <div class=" col-md-12 col-lg-12 col-sm-12">
        <div class="form-group row mx-1  mb-0">
            <label class="custom-form-margin">Prepared by:</label>
            <select class="form-control">
                <option>Maritesse SD. Teopengco</option>
            </select>
            <p><i>OIC-Chief of Hospital I</i></p>
        </div>
        <div class="form-group row mx-1">
            <label class="custom-form-margin">Report Type:</label>
            <select class="form-control">
                <option>AIP Format</option>
            </select>
        </div>
    </div>
</div>
