<div class="col-md-12">
    <div class="attached-files-container">
        <div class="documentParent">
            <i class="ft-delete"></i>
            <span>Program of Work(POW).docx</span>
        </div>
        <div class="documentParent">
            <i class="ft-delete"></i>
            <span>Detailed Unit Price Analysis.docx</span>
        </div>
        <div class="documentParent">
            <i class="ft-delete"></i>
            <span>Computation of Quantities.docx</span>
        </div>
        <div class="documentParent">
            <i class="ft-delete"></i>
            <span>Approved Budget for the Contract.docx</span>
        </div>
    </div>
</div>