@model BOSS.Models.FMAccounts.GeneralAccountsModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;


<div class="form-group">
    <label style="margin-bottom:2px;">Allotment Type</label>
    @Html.DropDownListFor(m => m.AllotmentID, Model.AllotmentClassList, new { @class = "form-control select2", id = "AllotmentID" })

</div>
<script>
    $(function () {
        LoadICheck();
    })
</script>