
@{
    ViewBag.Title = "FileMaintenanceTax";
}
<script>
    $("#FileMaintenanceTaxID").addClass("active");
</script>
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Taxes</strong></h3>
    </div>
</div>
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-4">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="card-body px-1 card-body rounded menubackground">
                            <div id="taxTempID">

                            </div>
                        </div>
                        <div class="mt-2" id="taxTableID">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


