@{
    ViewBag.Title = "FileSignatory";
}
<script>
    $("#FileMaintenanceSignatoryID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Signatory</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                            <div class="card-body px-1 card-body rounded menubackground">
                                <div id="SignatoryTempID">

                                </div>
                            </div>
                            <div class="mt-2" id="SignatoryTableID">

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
