@{
    ViewBag.Title = "FileSignatory";
}

<script>
    $("#FileMaintenanceSignatoryID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Signatory</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                            <div class="card-body px-1 card-body rounded menubackground">
                                <div id="SignatoryTempID">

                                </div>
                            </div>
                            <div class="mt-2" id="SignatoryTableID">

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
@*<script>
    app.controller('FMSignatoryController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;
        //Get Signatory Datatable Partial View
        F.InitFunctions = function () {
            F.GetSignatoryDTable();
        }//Get Table Appropriation Source Datatable Partial View
        F.GetSignatoryDTable = function () {
            F.FMSignatoryID = null;
            P({
                url: '/FileMaintenanceSignatory/GetSignatoryDTable',
            }).then(function (response) {
                F.FMSignatoryID = D(response.data);
                F.GetAddSignatory();
            });
        }
        F.GetAddSignatory = function () {
            P({
                url: '/FileMaintenanceSignatory/GetAddSignatory',
            }).then(function (response) {
                $('#SignatoryTempID').html(response.data);

            });
        }
        F.GetAddDynamicFunction = function () {
            var DeptID = $("#DeptID").val();
            P({
                url: '/FileMaintenanceSignatory/GetAddDynamicFunction',
                params: { DeptID: DeptID }
            }).then(function (response) {
                $('#functionlistID').html(response.data);

            });
        }
        F.GetUpdateDynamicFunction = function (DeptID, funcTempID ) {
            P({
                url: '/FileMaintenanceSignatory/GetUpdateDynamicFunction',
                params: { DeptID: DeptID, funcTempID: funcTempID }
            }).then(function (response) {
                $('#functionlistID').html(response.data);

            });
        }
        F.GetUpdateDynamicFunction3 = function (DeptID) {
            var DeptID = $("#DeptID2").val();
            P({
                url: '/FileMaintenanceSignatory/GetAddDynamicFunction',
                params: { DeptID: DeptID}
            }).then(function (response) {
                $('#functionlistID').html(response.data);

            });
        }
        F.Get_UpdateSignatory = function (SignatoryID) {
            P({
                url: '/FileMaintenanceSignatory/Get_UpdateSignatory',
                params: { SignatoryID: SignatoryID }
            }).then(function (response) {
                $('#SignatoryTempID').html(response.data);
            });
        }
        F.DeleteSignatory = function (SignatoryID) {
            P({
                url: '/FileMaintenanceSignatory/DeleteSignatory',
                params: { SignatoryID: SignatoryID }
            }).then(function (response) {
                F.GetSignatoryDTable();
            });
        }
    });
</script>*@