@model IEnumerable<BOSS.Models.FMmodels.FMOfficeTypeModels.OfficeTypeList>
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-1"></div>
    <div class="col-xl-8 col-lg-8 col-md-10">
        <table class="table table-striped table-bordered table-condensed zero-configuration w-100 table-smss-hover">
            <thead class="text-center">
                <tr>
                    <th>Office Type</th>
                    <th>Code</th>
                    <th width="5%">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Items in Model)
                    {
                        var Update = "<button class='btn btn-icon black btn-menuorange btn-block border-0' id='btnEditOfficeTypeID' OfficeTypeAttr='" + Items.OfficeTypeID + "'><i class='ft-edit'></i> Edit</button>";
                        var Remove = "<button class='btn btn-icon btn-menuRed white btn-block border-0' id='btnDeleteOfficeTypeID' OfficeTypeAttr='" + Items.OfficeTypeID + "'><i class='la la-trash'></i> Delete</button>";

                        var Action = Update + Remove;


                        <tr>
                            <td>@Items.OfficeTypeTitle</td>
                            <td class="text-center">@Items.OfficeTypeCode</td>
                            <td class="text-center">
                                <button type="button" onfocusout="PopoveLostFocus()"
                                        class="btn btn-m btn-btnbackcolor popover-trigger"
                                        data-toggle="popover" data-content="@Action" data-html="true" data-placement="left">
                                    <i class="la la-bars"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        LoadDataTable();
    })
</script>
