
@{
    ViewBag.Title = "FileOfficeType";
}

<script>
    $("#FileMaintenanceOfficeTypeID").addClass("active");
</script>

<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Office Type</strong></h3>
    </div>
</div>
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-4">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="card-body px-1 card-body rounded menubackground">
                            <div id="officetypeTempID">

                            </div>
                        </div>
                        <div class="mt-2" id="officetypeTableID">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script>
    app.controller('FMOfficeTypeController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;
        //Get Signatory Datatable Partial View
        F.InitFunctions = function () {
            F.GetOfficeTypeDTable();
        }//Get Datatable Partial View
        F.GetOfficeTypeDTable = function () {
            P({
                url: '/FileMaintenanceOfficeType/GetOfficeTypeDTable',
            }).then(function (response) {
                $('#officetypeTableID').html(response.data);
                F.Get_AddOfficeType();
            });
        }
        F.Get_AddOfficeType = function () {
            P({
                url: '/FileMaintenanceOfficeType/Get_AddOfficeType',
            }).then(function (response) {
                $('#officetypeTempID').html(response.data);

            });
        }
        F.Get_UpdateOfficeType = function (OfficeTypeID) {
            P({
                url: '/FileMaintenanceOfficeType/Get_UpdateOfficeType',
                params: { OfficeTypeID: OfficeTypeID }
            }).then(function (response) {
                $('#officetypeTempID').html(response.data);

            });
        }
        F.DeleteOfficeType = function (OfficeTypeID) {
            P({
                url: '/FileMaintenanceOfficeType/DeleteOfficeType',
                params: { OfficeTypeID: OfficeTypeID }
            }).then(function (response) {
                F.GetOfficeTypeDTable();
            });
        }
    });
</script>*@