

    <div class="card-body px-1 card-body rounded box-shadow-3">
        <div class="col-md-4 p-0">
            <button type="button" class="btn btn-btnbackcolor btn-min-width mb-1"
                    onclick="GetProgramForm(1,0)">
                Add Program
            </button>
        </div>
        <div class="row m-0" id="tableProgramID">
        </div>
    </div>
    <div class="card-header bg-active rounded">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
            <div class=" col-lg-4 col-md-4 col-sm-4">
                <h4 class="card-title black pull-right">TOTAL COST(All Programs):</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">

                <h4 class="card-title text-right pr-1 black" id="lbltotalProgramID"></h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>
    </div>