
@{
    ViewBag.Title = "ChecklistsFormLBA1A";
}
<script>
    $("#PreparationChecklistsFormLBA1AID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class="col-9">
        <h3 class="content-header-title"><strong>Checklists on Documentary and Signature Requirements for the Annual Budget (LBA Form No. 1A)</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="row ml-3">
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <label>Budget Year</label>
                                    <select class="form-control">
                                        <option>2018</option>
                                        <option>2019</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-sm-6 ml-3">
                                <div class="col-md-5 col-sm-6">
                                    <button type="button" class="btn btn-btnbackcolor form-control btn-min-width"
                                            data-toggle="modal"
                                            data-target="#ViewPrintPreviewModal"
                                            onclick="OpenViewUpdatePrintPreviewModal()" style="border-color:white;">
                                        Document
                                    </button>
                                </div>
                                <div class="col-md-12 col-sm-12 mt-2">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="" checked>
                                            Budget Message
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Expenditure Program
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Budget of Expenditures and Sources of Financing (BESF)
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Annual Investment Plan (Approved by the Sanggunian through a Resolution)
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Personnel Schedule
                                        </label>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-9 col-sm-6" style="border-color:white;">
                                    <button type="button" class="btn btn-btnbackcolor form-control btn-min-width"
                                            data-toggle="modal"
                                            data-target="#ViewPrintPreviewModal"
                                            onclick="OpenViewUpdatePrintPreviewModal()" style="border-color:white;">
                                        Signatory
                                    </button>
                                </div>
                                <div class="col-md-12 col-sm-12 mt-1">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="" checked>
                                            Local Chief Executive
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Chief Executive
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Finance Committee
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Chief Executive
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Secretary to the Sanggunian
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Presiding Officer
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            HRMO
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Chief Executive
                                        </label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>