@model BOSS.Models.FMAccounts.GeneralAccountsModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
<div class="card-content collapse show">
    <div class="card-body m-0 p-0">
        <div class="row mt-0">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <fieldset class="form-group">
                    <label>
                        <input type="radio" name="RadioS" id="radioGeneral" onclick="GetGeneralAccountView()">
                        General Account
                    </label>
                </fieldset>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <fieldset class="form-group">
                    <label>
                        <input type="radio" name="RadioS" id="radioSubAccount" onclick="GetSubAccountView()">
                        Sub Account
                    </label>
                </fieldset>
            </div>
        </div>
        <div>
            <div id="COATempID">

            </div>
        </div>
    </div>
</div>

<script>
    $("#radioGeneral").click();
    var AllotypeGlobal = 0;
    //General Account
    function GetGeneralAccountView() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetGeneralAccountView',
            success: function (result) {
                $("#COATempID").html(result);
            }
        })
    }
    //Sub Account
    function GetSubAccountView() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetSubAccountView',
            success: function (result) {
                $("#COATempID").html(result);
            }
        })
    }

</script>
