@model BOSS.Models.FMResponsibilityModels.OfficeSectionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;


<div class="mt-1" id="PartialIndexID">

</div>
<div class="mt-2" id="DeptSectionID">

</div>

@*Add Dept Modal*@
<div class="form-group">
    <div class="modal fade text-left" id="ViewAddDeptSecModal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header
                             bg-active">
                    <h4 class="modal-title"><strong>Add Department</strong></h4>
                </div>
                <div class="modal-body skin skin-square">
                    <div class="card-body p-0">
                        <div id="ViewAddDeptSecID"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Add Function Modal*@
<div class="form-group">
    <div class="modal fade text-left" id="ViewAddFuncSecModal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header
                             bg-active">
                    <h4 class="modal-title"><strong>Add Function</strong></h4>
                </div>
                <div class="modal-body skin skin-square">
                    <div class="card-body p-0">
                        <div id="ViewAddFuncSecID"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        GetPartialIndex();
    })
    function GetPartialIndex() {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetPartialIndex',
            success: function (result) {
                $('#PartialIndexID').html(result);
                GetAddFunctionList();
            }
        })
    }
    function GetAddFunctionList() {
        var DeptID = $("#DeptID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetAddFunctionList',
            data: { DeptID: DeptID },
            success: function (result) {
                $('#FunctionListID').html(result);
            }
        })
    }
    function GetOfficeSecDT() {
        var DeptID = $("#DeptID").val();
        var FuncID = $("#FuncID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetOfficeSecDT',
            data: { DeptID: DeptID, FuncID: FuncID },
            success: function (result) {
                $("#DeptSectionID").html(result);
                GetAddOfficeSec(DeptID, FuncID);
            }
        })
    }
    //Add Office Section
    function GetAddOfficeSec(DeptID, FuncID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetAddOfficeSec',
            data: { DeptID: DeptID, FuncID: FuncID },
            success: function (result) {
                $('#OfficeSecTempID').html(result);
            }
        })
    }
    //Upadate Office Section
    function Get_UpdateOfficeSection(OfficeSecID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/Get_UpdateOfficeSection',
            data: { OfficeSecID: OfficeSecID },
            success: function (result) {
                $('#PartialIndexID').html(result);

                GetDeptTitleDisplay();

            }
        })
    }
    function GetPartialIndex2() {
        var DeptID = $("#DeptID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetPartialIndex2',
            data: { DeptID: DeptID },
            success: function (result) {
                $('#PartialIndexID').html(result);
                GetAddFunctionList2(DeptID)
            }
        })
    }
    var GlobalFuncID = 0;
    function GetAddFunctionList2(DeptID) {

        var FuncID = GlobalFuncID;
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetAddFunctionList2',
            data: { DeptID: DeptID, FuncID: FuncID },
            success: function (result) {
                $('#FunctionListID').html(result);
            }
        })
    }
    //Get Department Title In Update
    function GetDeptTitleDisplay() {
        var DeptID = $("#DeptID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDeptTitledisplay',
            data: { DeptID: DeptID },
            success: function (result) {
                $('#UpdateDisplayDeptTitle').html(result);
                GetfunctionTitleDisplay();
            }
        })
    }

    function GetfunctionTitleDisplay() {
        var FuncID = $("#FuncUpdateID").val();
        GlobalFuncID = FuncID;
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetfunctionTitleDisplay',
            data: { FuncID: FuncID },
            success: function (result) {
                $('#UpdateDisplayFunctionTitle').html(result);
            }
        })
    }
    function DeleteOfficeSection(OfficeSecID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/DeleteOfficeSection',
            data: { OfficeSecID: OfficeSecID },
            success: function (result) {
                GetOfficeSecDT();
            }
        })
    }
    //Get Add Department Modal
    function GetAddDeptModalSec() {
        $.ajax({
            url: "/FileMaintenanceResponsibility/GetAddDeptModalSec",
            success: function (result) {
                $("#ViewAddDeptSecID").html(result);
                $('#ViewAddDeptSecModal').modal('toggle');
            }
        });
    }
    //Get Add Function Modal
    function GetAddFuncModalSec() {
        $.ajax({
            url: "/FileMaintenanceResponsibility/GetAddFuncModalSec",
            success: function (result) {
                $("#ViewAddFuncSecID").html(result);
                $('#ViewAddFuncSecModal').modal('toggle');
            }
        });
    }
</script>
