@model BOSS.Models.FMResponsibilityModels.OfficeSectionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="row">
    <div class="col-md-6 mx-0">
        <div class="form-group">
            <label class="custom-form-margin">Department</label>
            @Html.DropDownListFor(m => m.DeptID, Model.DeptSelectionList2, new { @class = "form-control select2", id = "DeptID", onchange = "GetAddFunctionList();" })
        </div>
    </div>
    <div class="col-md-6 mx-0">
        <div id="FunctionListID">

        </div>
    </div>
</div>
<div id="OfficeSecTempID">

</div>