@model BOSS.Models.FMResponsibilityModels.OfficeSectionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 mx-0">
        <div class="form-group">
            <label class="custom-form-margin">Department</label>
            <span class="input-group-append">
                @Html.DropDownListFor(m => m.DeptID, Model.DeptSelectionList2, new { @class = "form-control select2", id = "DeptID", onchange = "GetAddFunctionList();" })
                <button type="button" class="btn btn-warning btn-sm m-left" data-toggle="modal" data-target="#ViewAddDeptSecModal" onclick="GetAddDeptModalSec()"><strong>+</strong></button>
            </span>
        </div>
    </div>
    <div class="col-md-5 mx-0">
        <div id="FunctionListID">

        </div>
    </div>
</div>
<div id="OfficeSecTempID">

</div>