@model BOSS.Models.FMResponsibilityModels.OfficeSectionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="card-header bg-active">
    <h4 class="card-title black ">Add Section</h4>
</div>

<div class="card-body card-body rounded box-shadow-4  px-0">
    <div class="card-body py-0" action="index.html" novalidate>
        <div class="row">
            <div class="col-md-6 mx-0">
                <div class="form-group">
                    <label class="custom-form-margin">Department</label>
                    @Html.DropDownListFor(m => m.DeptID, Model.DeptSelectionList2, new { @class = "form-control select2", id = "DeptID", onchange = "GetAddFunctionList();" })
                </div>
            </div>
            <div class="col-md-6 mx-0">
                <div id="FunctionListID">

                </div>
            </div>
        </div>
        <div id="OfficeSecTempID">

        </div>
    </div>
</div>