
@{
    ViewBag.Title = "LBAFQuarterlyFinancial";
}

<script>
    $("#AccountabilityLBAFQuarterlyFinancialID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Quarterly Financial Report of Operation</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 mx-0"></div>
                            <div class="col-md-3 col-sm-3 mx-0">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">As of</label>
                                    <fieldset class="form-group">
                                        <input type="text" class="form-control">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 mt-1" style="padding-top:6px;">
                                <button type="button" class="btn btn-btnbackcolor btn-min-width float-right" data-toggle="modal" data-target="#ViewPrintPreviewModal" onclick="OpenViewUpdatePrintPreviewModal()">
                                    Preview
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>