@{
    ViewBag.Title = "My Profile";
}

<div class="card collapse-icon accordion-icon-rotate">
    <form class="form form-horizontal form-bordered form-view-only">
        <div class="form-body">
            <div class="card-header mb-2">
                <div class="text-center">
                    <img src="~/Resources/Avatar/teacher.png" class="img-fluid" style="max-width: 120px" />
                    <div><button class="btn btn-round btn-btnbackcolor mt-1">Change profile picture</button></div>
                </div>
                <h4 class="card-title color-m card-tag-title" id="horz-layout-basic"></h4>
            </div>
            <div id="headingCollapse11" class="card-header p-0 px-1">
                <a data-toggle="collapse" href="#collapse11" aria-expanded="true" aria-controls="collapse11" class="card-title"><h4 class="form-section"><i class="ft-user color-m"></i> Personal info</h4></a>
            </div>
            <div id="collapse11" role="tabpanel" aria-labelledby="headingCollapse11" class="collapse show" style="">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="">Name</label>
                                    <div class="col-md-9">
                                        <div>Adaline Iris C. Santos</div>
                                    </div>
                                </div>
                                <div class="form-group row last">
                                    <label class="col-md-3 label-control" for="">Age</label>
                                    <div class="col-md-9">
                                        <div>23</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="">Civil Status</label>
                                    <div class="col-md-9">
                                        <div>Single</div>
                                    </div>
                                </div>
                                <div class="form-group row last">
                                    <label class="col-md-3 label-control" for="">Address</label>
                                    <div class="col-md-9">
                                        <div>90 Dado St. Quezon City</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-md-right1 mt-2">
                            <button type="button" class="btn btn-round mb-1 btn-btnbackcolor btn-sm" data-toggle="modal" data-target="#modalEditPersonalInfo">Edit personal info</button>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>

            <div id="headingCollapse15" class="card-header p-0 px-1 mt-3">
                <a data-toggle="collapse" href="#collapse15" aria-expanded="true" aria-controls="collapse15" class="card-title"><h4 class="form-section mt-2"><i class="ft-shield color-m"></i>Login and Security</h4></a>
            </div>
            <div id="collapse15" role="tabpanel" aria-labelledby="headingCollapse15" class="collapse show" aria-expanded="false" style="">
                <div class="card-content">
                    <div class="card-body">
                        <p class="text-muted">It's a good idea to use a strong a password that you don't use elsewhere.</p>
                        <div class="text-md-right1 mt-2">
                            <button type="button" class="btn btn-round btn-sm btn-btnbackcolor" data-toggle="modal" data-target="#modalChangePassword">Change password</button>
                        </div>
                        <div class="changePass-container d-none">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="">Current password</label>
                                        <div class="col-md-9">
                                            <input type="password" id="" class="form-control" placeholder="" name="" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="">New password</label>
                                        <div class="col-md-9">
                                            <input type="password" id="" class="form-control" placeholder="" name="" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="">Retype new password</label>
                                        <div class="col-md-9">
                                            <input type="password" id="" class="form-control" placeholder="" name="" readonly>
                                        </div>
                                    </div>
                                    <div class="text-md-right p-1">
                                        <button type="submit" class="btn btn-round mb-1 btn-dark">Cancel</button>
                                        <button type="submit" class="btn btn-round mb-1 btn-amber">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade text-left" id="modalEditPersonalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Edit Personal Info</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" name="" />
                    </div>
                    <div class="form-group">
                        <label>Middle Name</label>
                        <input class="form-control" name="" />
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" name="" />
                    </div>
                    <div class="form-group">
                        <label>Extension</label>
                        <select class="form-control" name="">
                            <option></option>
                            <option value="design">I</option>
                            <option value="design">II</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="swal-button swal-button--cancel btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="swal-button swal-button--confirm btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-left" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Change password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Old password</label>
                        <input class="form-control" name="" />
                    </div>
                    <div class="form-group">
                        <label>New password</label>
                        <input class="form-control" name="" />
                    </div>
                    <div class="form-group">
                        <label>Retype new password</label>
                        <input class="form-control" name="" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="swal-button swal-button--cancel btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="swal-button swal-button--confirm btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>
