@model BOSS.Models.FMmodels.FMAccountsModels.FMMainChartofAccountModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("AddNewAllotmentClass", "FileMaintenanceAccounts", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetAllotmentClassDT','Successfully Added!')", OnFailure = "", }))
{
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-1"></div>
        <div class="col-xl-8 col-lg-8 col-md-10">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4" id="revYearAllotID">

                </div>
                <div class="col-xl-9 col-lg-8 col-md-8">
                    <div class="form-group">
                        <label class="custom-form-margin">Allotment Class</label>
                        @Html.TextBoxFor(m => m.AllotClassModel.getAllotmentClassColumns.AllotmentClassTitle, new { @class = "form-control", type = "text", id = "AllotmentClassTitle" })
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-menuRed btn-min-width ml-1 float-right" onclick="GetAllotmentClassDT()">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-btnbackcolor btn-min-width float-right">
                        Add
                    </button>
                </div>

            </div>
        </div>
    </div>
}
<script>
    $(function () {
        GetDynamicRevYear();
    })
</script>