<div class="row mt-1">
    <div class="col-xl-2 col-lg-2 col-md-2">
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4">
        <div class="form-group">
            <label class="custom-form-margin">Revision Year</label>
            <span class="input-group-append">
                <select class="form-control">
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                </select>
                <button type="button" class="btn btn-warning btn-sm m-left" data-toggle="modal" data-target="#ViewAddRevYearModal" onclick="GetAddAddRevYear()"><strong>+</strong></button>
            </span>
        </div>
    </div>
    <div class="col-lg-5 col-md-5">
        <div class="form-group">
            <label class="custom-form-margin">Allotment Class</label>
                <input type="text" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="offset-md-1 col-md-10">
        <button type="button" class="btn btn-menuRed btn-min-width mr-1 float-right" onclick="GetRevisionCOADT()">
            Cancel
        </button>
        <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 float-right">
            Add
        </button>
    </div>
</div>
<div class="row mt-2">
    <div class="offset-md-1 col-md-10">
        <table id="myTable" class="table table-bordered zero-configuration w-100">
            <thead class="text-center">
                <tr>
                    <th width="20%">Revision Year</th>
                    <th>Allotment Class</th>
                    <th width="5%">Action</th>
                </tr>
            </thead>
            <tbody>

                @{
                    var DeleteConfirmationMess = "Are you sure do you want to delete this?";
                    var DeleteSuccesMess = "Successfully Deleted";
                    var successUpdate = "Successfully Updated!";

                    var Update = "<div class=\"row m-small\"><button class=\"btn btn-icon black btn-menuorange form-control m-small my-0\" style=\"border-color: white \" type=\"button\" onclick=\"swalSuccess('" + successUpdate + "')\"> <i class='la la-edit'></i> Edit</button></div>";
                    var Remove = "<div class=\"row m-small\"><button class=\"btn btn-icon btn-menuRed white form-control m-small my-0\" style=\"border-color: white \" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '', '" + @DeleteSuccesMess + "')\"><i class='la la-trash'></i> Delete</button></div>";

                    var ActionAS = Update + Remove;
                }
                <tr>
                    <td class="text-center">2015</td>
                    <td>Capital Outlay</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="text-center">2015</td>
                    <td>Maintenance and Other Operating Expenses</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="text-center">2015</td>
                    <td>Other Operating Expenses</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="text-center">2015</td>
                    <td>Personal Services</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@*Get Revision Year Modal*@
<div class="modal fade text-left" id="ViewAddRevYearModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-active">
                <h4 class="modal-title"><strong>Add Revision Year</strong></h4>
                <button class="btn bg-active pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
            </div>
            <div class="modal-body">
                <div id="ViewAddRevYearID"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        LoadDataTable();
    })

    //REVISION YEAR
    function GetAddAddRevYear() {
        $.ajax({
            url: "/FileMaintenanceAccounts/GetAddAddRevYear",
            success: function (result) {
                $("#ViewAddRevYearID").html(result);
                $('#ViewAddRevYearModal').modal('toggle');
            }
        });
    }
   

</script>