
@{
    ViewBag.Title = "ReportStatementofFundOperation";
}
<script>
    $("#PreparationReportStatementofFundOperationID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class="col">
        <h3 class="content-header-title"><strong>Reports-Statement of Fund Operation</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-2">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 col-sm-3">
                                <div class="form-group">
                                    <label>Budget Year</label>
                                    <select class="form-control">
                                        <option>2018</option>
                                        <option>2019</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Fund</label>
                                    <select class="form-control">
                                        <option>General Fund</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 mt-3 col-sm-2 text-center">
                                <fieldset>
                                    <label>
                                        <input type="checkbox">
                                        No Footer
                                    </label>
                                </fieldset>
                            </div>
                            <div class="col-md-2 col-sm-2 mt-2 pt-1">
                                <a class="btn btn-btnbackcolor btn-min-width button float-right"
                                   data-caption="01/01/19" href="~/Resources/PDF/blank.pdf"
                                   target='_blank'>
                                    Preview
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <fieldset class="form-group">
                                    <label>Beginning Balance</label>
                                    <input type="text" class="form-control" id="basicInput">
                                </fieldset>
                            </div>
                            <div class="col-md-3 col-sm-3 mt-3">
                                <fieldset class="radio">
                                    <label>
                                        <input type="radio" name="radio" value="">
                                        Submitted Proposed
                                    </label>
                                </fieldset>
                            </div>
                            <div class="col-md-3 col-sm-3 mt-3">
                                <fieldset class="radio">
                                    <label>
                                        <input type="radio" name="radio" value="" checked>
                                        LFC Reviewed/Approved
                                    </label>
                                </fieldset>
                            </div>
                            <div class="col-md-3 col-sm-3 mt-3">
                                <fieldset class="radio">
                                    <label>
                                        <input type="radio" name="radio" value="" checked>
                                        SP Reviewed/Approved
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
