
<div class="row">
    <div class=" col-md-12 col-lg-12 col-sm-12">
        <div class="form-group row mx-1">
            <label>Amount to Display</label>
            <select class="form-control">
                <option>Proposed (Submitted)</option>
                <option></option>
            </select>
        </div>
        <div class="form-group row mx-2">
            <fieldset class="radio">
                <input type="radio" name="radio">
                Office Operational Expenses
            </fieldset>
        </div>
        <div class="form-group row mx-2">
            <fieldset class="radio">
                <input type="radio" name="radio">
                Consolidated PAOO (OOE & P/P/A)
            </fieldset>
        </div>
        <div class="form-group row mx-2">
            <fieldset class="radio">
                <input type="radio" name="radio">
                Detailed PAOO (OOE & P/P/A)
            </fieldset>
        </div>
    </div>
</div>

