<div class="row">
    <div class=" col-md-12 col-lg-12 col-sm-12">
        <div class="form-group row mx-1">
            <label>Prepared by:</label>
            <select class="form-control">
                <option>Maritesse SD. Teopengco</option>
                <option></option>
            </select>
            <p class="ml-1 mt-0 pt-0"><i>OIC-Chief of Hospital</i></p>
        </div>
    </div>
</div>

