
@{
    ViewBag.Title = "LBPF2View";
}

<script>
    $("#PreparationLBPF2ViewID").addClass("active");
</script>


@*Header*@
<div class="content-header row">
    <div class="content-header-left col-md-12 col-12 mb-12">
        <h3 class="content-header-title"><strong>LBPF 2 - Programmed Appropriation and Obligation by Object of Expenditure</strong></h3>
    </div>
</div>

@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-2">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">

                        <div class="row mt-0">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-sm-6">
                                <fieldset class="">
                                    <label>
                                        <input type="radio" name="RadioS" id="radioFirst">
                                        Office Operational Expenses
                                    </label>
                                </fieldset>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <fieldset class="">
                                    <label>
                                        <input type="radio" name="RadioS" id="radioSecond">
                                        Programs/Projects/Activities
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row mt-1 ">
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Budget Year</label>
                                    <select class="form-control">
                                        <option>2018</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Appropriation Source</label>
                                    <fieldset class="form-group">
                                        <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="Annual budget 2018" style="background-color:white">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Responsibility Center</label>
                                    <select class="form-control">
                                        <option>BAGAC COMMUNITY and MEDICARE</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Program</label>
                                    <select class="form-control">
                                        <option>No Program/s found</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Project</label>
                                    <select class="form-control">
                                        <option>No Project/s found</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Activity</label>
                                    <select class="form-control">
                                        <option>No Activity/s found</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="bs-callout-success callout-border-left mb-1">
                            <label class="m-1"><strong>Status:</strong></label>
                            <label class="ml-2"><strong>Approved by Sanggunian</strong></label>
                        </div>

                        <div class="card-fields">
                            <div class="card box-shadow-2" id="myDiv">
                                <div class="card-content collapse show">
                                    <div class="card-body rounded py-0">
                                        <label><strong>PPA Amount</strong></label>
                                        <div class="row m-0 p-0">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5 col-sm-6 mb-0">
                                                <div class="form-group row" style="margin-bottom:2px;">
                                                    <label class="col-md-5 col-sm-5 mr-1 pr-0 text-right">Personal Services:</label>
                                                    <div class="col-md-6 pl-0">
                                                        <input type="text" class="form-control text-right" value="15,000,000.00" data-type="currency">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-sm-6 mb-0">
                                                <div class="form-group row" style=" margin-bottom:2px;">
                                                    <label class="col-md-4 mr-1 pr-0 text-right">MOOE:</label>
                                                    <div class="col-md-6 pl-0">
                                                        <input type="text" class="form-control text-right" value="10,000,000.00" data-type="currency">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0 p-0">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5 col-sm-6 mb-0">
                                                <div class="form-group row" style="margin-bottom:2px;">
                                                    <label class="col-md-5 mr-1 pr-0 text-right">Capital Outlay:</label>
                                                    <div class="col-md-6 pl-0">
                                                        <input type="text" class="form-control text-right" value="500,000.00" data-type="currency">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-sm-6 mb-0">
                                                <div class="form-group row" style=" margin-bottom:2px;">
                                                    <label class="col-md-4 mr-1 pr-0 text-right">Other Fee:</label>
                                                    <div class="col-md-6 pl-0">
                                                        <input type="text" class="form-control text-right" value="1,000,000,000.00" data-type="currency">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0 p-0">
                                            <div class="col-md-6 col-sm-6 mb-0">
                                            </div>
                                            <div class="col-md-5 col-sm-6 mb-0">
                                                <div class="form-group row" style="margin-bottom:2px;">
                                                    <label class="col-md-4 mr-1 pr-0 text-right">Total (Php):</label>
                                                    <div class="col-md-6 pl-0">
                                                        <input type="text" class="form-control text-right text-bold-700" value="1,025,500,000.00" data-type="currency">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body box-shadow-3 rounded">
                            <div class="row">
                                <div class="col-md-12 m-0 p-0">
                                    <button type="button" class="btn btn-btnbackcolor btn-min-width mr-1 mb-1 float-right"
                                            data-toggle="modal"
                                            data-target="#ViewPrintPreviewModal"
                                            onclick="OpenViewUpdatePrintPreviewModal()">
                                        Print Preview
                                    </button>
                                    <button type="button" class="btn btn-btnbackcolor btn-min-width mr-1 mb-1 float-right"
                                            data-toggle="modal"
                                            data-target="#ViewUpdateSignatoryModal"
                                            onclick="OpenViewUpdateSignatoryModal()">
                                        Update Signatory
                                    </button>

                                    <button type="button" class="btn btn-btnbackcolor btn-min-width mr-1 mb-1 float-right"
                                            data-toggle="modal"
                                            data-target="#ViewAddAccountModal"
                                            onclick="OpenViewAddAccountModal()">
                                        Add Account/s
                                    </button>
                                    @{
                                        var SaveConfirmationMess = "Are you sure you want save this?";

                                        <button class="btn btn-btnbackcolor btn-min-width mr-1 mb-1 float-right"
                                                onclick="swalConfirmation('@SaveConfirmationMess' ,'', 'Successfully Saved!')">
                                            Save
                                        </button>
                                    }
                                </div>
                            </div>
                            @*First Table*@
                            <div class="card box-shadow-2 m-0 p-0">
                                <div class="card-header bg-active mt-1">
                                    <h4 class="card-title black">Personal Services</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-plus black"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse">
                                    <div class="card-body px-1 pt-1 card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                                        <div class="card-body m-0 p-0">

                                            <div class="row m-0">
                                                <div class="table-responsive">

                                                    <table id="SuppliesDT" class="table table-bordered zero-configuration table-smss-hover w-100">

                                                        <thead class="text-center">
                                                            <tr>
                                                                <th>Particular</th>
                                                                <th width="10%">Account Code</th>
                                                                <th>Income Classification</th>
                                                                <th>Past Year (Actual)</th>
                                                                <th>1st Semester (Actual)</th>
                                                                <th>2nd Semester (Actual)</th>
                                                                <th>Current Year (Total 2016)</th>
                                                                <th>Budget Year (Proposed 2017)</th>
                                                                <th width="5%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Cash in Bank - Local Currency, Current Account</td>
                                                                <td>1-01-02-010</td>
                                                                <td>R</td>
                                                                <td class="text-right">100,000.00</td>
                                                                <td class="text-right">50,000.00</td>
                                                                <td class="text-right">60,000.00</td>
                                                                <td class="text-right">11,000.00</td>
                                                                <td class="text-right">120,000.00</td>
                                                                <td class="text-center">
                                                                    @{
                                                                        <button type="button" class="btn btn-icon btn-btnbackcolor"
                                                                                data-toggle="popoverStateReceipt" style="padding: 10px;"
                                                                                data-placement="left" data-conztainer="body"
                                                                                onfocusout="ClosePopOverSOR()">
                                                                            <i class="la la-reorder"></i>
                                                                        </button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cash in Bank - Local Currency, Current Account</td>
                                                                <td>1-01-02-010</td>
                                                                <td>R</td>
                                                                <td class="text-right">100,000.00</td>
                                                                <td class="text-right">50,000.00</td>
                                                                <td class="text-right">60,000.00</td>
                                                                <td class="text-right">11,000.00</td>
                                                                <td class="text-right">120,000.00</td>
                                                                <td class="text-center">
                                                                    @{
                                                                        <button type="button" class="btn btn-icon btn-btnbackcolor"
                                                                                data-toggle="popoverStateReceipt" style="padding: 10px;"
                                                                                data-placement="left" data-conztainer="body"
                                                                                onfocusout="ClosePopOverSOR()">
                                                                            <i class="la la-reorder"></i>
                                                                        </button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot class="bg-active black">
                                                            <tr>
                                                                <th colspan="3" class="text-center">Total</th>
                                                                <th class="text-right">200,000.00</th>
                                                                <th class="text-right">100,000.00</th>
                                                                <th class="text-right">120,000.00</th>
                                                                <th class="text-right">22,000.00</th>
                                                                <th class="text-right">240,000.00</th>
                                                                <td></td>
                                                            </tr>


                                                        </tfoot>

                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                    </div>




                                </div>
                            </div>
                            @*Second table*@
                            <div class="card box-shadow-2 m-0 p-0">
                                <div class="card-header bg-active mt-1">
                                    <h4 class="card-title black">Maintenance and Other Operating Expenses</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-plus black"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse">
                                    <div class="card-body px-1 pt-1 card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                                        <div class="card-body m-0 p-0">

                                            <div class="row m-0">
                                                <div class="table-responsive">

                                                    <table id="SuppliesDT" class="table table-bordered table-smss-hover zero-configuration w-100">

                                                        <thead class="text-center">
                                                            <tr>
                                                                <th>Particular</th>
                                                                <th width="10%">Account Code</th>
                                                                <th>Income Classification</th>
                                                                <th>Past Year (Actual)</th>
                                                                <th>1st Semester (Actual)</th>
                                                                <th>2nd Semester (Actual)</th>
                                                                <th>Current Year (Total 2016)</th>
                                                                <th>Budget Year (Proposed 2017)</th>
                                                                <th width="5px">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Cash in Bank - Local Currency, Current Account</td>
                                                                <td>1-01-02-010</td>
                                                                <td>R</td>
                                                                <td class="text-right">100,000.00</td>
                                                                <td class="text-right">50,000.00</td>
                                                                <td class="text-right">60,000.00</td>
                                                                <td class="text-right">11,000.00</td>
                                                                <td class="text-right">120,000.00</td>
                                                                <td class="text-center">
                                                                    @{
                                                                        <button type="button" class="btn btn-icon btn-btnbackcolor" data-toggle="popoverStateReceipt"
                                                                                data-placement="left" data-conztainer="body" style="padding: 10px;"
                                                                                onfocusout="ClosePopOverSOR()">
                                                                            <i class="la la-reorder"></i>
                                                                        </button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cash in Bank - Local Currency, Current Account</td>
                                                                <td>1-01-02-010</td>
                                                                <td>R</td>
                                                                <td class="text-right">100,000.00</td>
                                                                <td class="text-right">50,000.00</td>
                                                                <td class="text-right">60,000.00</td>
                                                                <td class="text-right">11,000.00</td>
                                                                <td class="text-right">120,000.00</td>
                                                                <td class="text-center">
                                                                    @{
                                                                        <button type="button" class="btn btn-icon btn-btnbackcolor" data-toggle="popoverStateReceipt"
                                                                                data-placement="left" data-conztainer="body" style="padding: 10px;"
                                                                                onfocusout="ClosePopOverSOR()">
                                                                            <i class="la la-reorder"></i>
                                                                        </button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot class="bg-active black">
                                                            <tr>
                                                                <th colspan="3" class="text-center">Total</th>
                                                                <th class="text-right">200,000.00</th>
                                                                <th class="text-right">100,000.00</th>
                                                                <th class="text-right">120,000.00</th>
                                                                <th class="text-right">22,000.00</th>
                                                                <th class="text-right">240,000.00</th>
                                                                <td></td>
                                                            </tr>


                                                        </tfoot>

                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                    </div>




                                </div>
                            </div>
                            @*Third table*@
                            <div class="card box-shadow-2 m-0 p-0">
                                <div class="card-header bg-active mt-1">
                                    <h4 class="card-title black">Capital Outlay</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-plus black"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse">
                                    <div class="card-body px-1 pt-1 card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                                        <div class="card-body m-0 p-0">

                                            <div class="row m-0">
                                                <div class="table-responsive">

                                                    <table id="SuppliesDT" class="table table-bordered table-smss-hover zero-configuration w-100">

                                                        <thead class="text-center">
                                                            <tr>
                                                                <th>Particular</th>
                                                                <th width="10%">Account Code</th>
                                                                <th>Income Classification</th>
                                                                <th>Past Year (Actual)</th>
                                                                <th>1st Semester (Actual)</th>
                                                                <th>2nd Semester (Actual)</th>
                                                                <th>Current Year (Total 2016)</th>
                                                                <th>Budget Year (Proposed 2017)</th>
                                                                <th width="5px">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Cash in Bank - Local Currency, Current Account</td>
                                                                <td>1-01-02-010</td>
                                                                <td>R</td>
                                                                <td class="text-right">100,000.00</td>
                                                                <td class="text-right">50,000.00</td>
                                                                <td class="text-right">60,000.00</td>
                                                                <td class="text-right">11,000.00</td>
                                                                <td class="text-right">120,000.00</td>
                                                                <td class="text-center">
                                                                    @{
                                                                        <button type="button" class="btn btn-icon btn-btnbackcolor"
                                                                                data-toggle="popoverStateReceipt" style="padding: 10px;"
                                                                                data-placement="left" data-conztainer="body"
                                                                                onfocusout="ClosePopOverSOR()">
                                                                            <i class="la la-reorder"></i>
                                                                        </button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cash in Bank - Local Currency, Current Account</td>
                                                                <td>1-01-02-010</td>
                                                                <td>R</td>
                                                                <td class="text-right">100,000.00</td>
                                                                <td class="text-right">50,000.00</td>
                                                                <td class="text-right">60,000.00</td>
                                                                <td class="text-right">11,000.00</td>
                                                                <td class="text-right">120,000.00</td>
                                                                <td class="text-center">
                                                                    @{
                                                                        <button type="button" class="btn btn-icon btn-btnbackcolor"
                                                                                data-toggle="popoverStateReceipt" style="padding: 10px;"
                                                                                data-placement="left" data-conztainer="body"
                                                                                onfocusout="ClosePopOverSOR()">
                                                                            <i class="la la-reorder"></i>
                                                                        </button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot class="bg-active black">
                                                            <tr>
                                                                <th colspan="3" class="text-center">Total</th>
                                                                <th class="text-right">200,000.00</th>
                                                                <th class="text-right">100,000.00</th>
                                                                <th class="text-right">120,000.00</th>
                                                                <th class="text-right">22,000.00</th>
                                                                <th class="text-right">240,000.00</th>
                                                                <td></td>
                                                            </tr>


                                                        </tfoot>

                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                    </div>




                                </div>
                            </div>
                            @*Fourth Table*@
                            <div class="card box-shadow-2 m-0 p-0">
                                <div class="card-header bg-active mt-1">
                                    <h4 class="card-title black">Other Financial Expenses</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-plus black"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse">
                                    <div class="card-body px-1 pt-1 card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                                        <div class="card-body m-0 p-0">

                                            <div class="row m-0">
                                                <div class="table-responsive">

                                                    <table id="SuppliesDT" class="table table-bordered table-smss-hover zero-configuration w-100">

                                                        <thead class="text-center">
                                                            <tr>
                                                                <th>Particular</th>
                                                                <th width="10%">Account Code</th>
                                                                <th>Income Classification</th>
                                                                <th>Past Year (Actual)</th>
                                                                <th>1st Semester (Actual)</th>
                                                                <th>2nd Semester (Actual)</th>
                                                                <th>Current Year (Total 2016)</th>
                                                                <th>Budget Year (Proposed 2017)</th>
                                                                <th width="5px">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Cash in Bank - Local Currency, Current Account</td>
                                                                <td>1-01-02-010</td>
                                                                <td>R</td>
                                                                <td class="text-right">100,000.00</td>
                                                                <td class="text-right">50,000.00</td>
                                                                <td class="text-right">60,000.00</td>
                                                                <td class="text-right">11,000.00</td>
                                                                <td class="text-right">120,000.00</td>
                                                                <td class="text-center">
                                                                    @{
                                                                        <button type="button" class="btn btn-icon btn-btnbackcolor"
                                                                                data-toggle="popoverStateReceipt" style="padding: 10px;"
                                                                                data-placement="left" data-conztainer="body"
                                                                                onfocusout="ClosePopOverSOR()">
                                                                            <i class="la la-reorder"></i>
                                                                        </button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cash in Bank - Local Currency, Current Account</td>
                                                                <td>1-01-02-010</td>
                                                                <td>R</td>
                                                                <td class="text-right">100,000.00</td>
                                                                <td class="text-right">50,000.00</td>
                                                                <td class="text-right">60,000.00</td>
                                                                <td class="text-right">11,000.00</td>
                                                                <td class="text-right">120,000.00</td>
                                                                <td class="text-center">
                                                                    @{
                                                                        <button type="button" class="btn btn-icon btn-btnbackcolor"
                                                                                data-toggle="popoverStateReceipt" style="padding: 10px;" s
                                                                                data-placement="left" data-conztainer="body"
                                                                                onfocusout="ClosePopOverSOR()">
                                                                            <i class="la la-reorder"></i>
                                                                        </button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot class="bg-active black">
                                                            <tr>
                                                                <th colspan="3" class="text-center">Total</th>
                                                                <th class="text-right">200,000.00</th>
                                                                <th class="text-right">100,000.00</th>
                                                                <th class="text-right">120,000.00</th>
                                                                <th class="text-right">22,000.00</th>
                                                                <th class="text-right">240,000.00</th>
                                                                <th></th>
                                                            </tr>
                                                        </tfoot>

                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                    </div>




                                </div>
                            </div>
                            @*Total Table*@
                            <div class="row m-0">
                                <div class="table-responsive  mt-1">
                                    <table id="SuppliesDT" class="table table-bordered  w-100">

                                        <tfoot class="bg-active black text-right">
                                            <tr>
                                                <th class="text-center" colspan="3">GRAND TOTAL</th>
                                                <th width="9%">800,000.00</th>
                                                <th width="10%">400,000.00</th>
                                                <th width="9%">480,000.00</th>
                                                <th width="11%">66,000.00</th>
                                                <th width="12%">960,000.00</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            @*Total table End *@
                            <div class="row">
                                <div class="col-md-12 mt-1 mx-0 px-0">
                                    <button type="button" class="btn btn-btnbackcolor btn-min-width mr-1 mb-1 float-right"
                                            data-toggle="modal"
                                            data-target="#ViewPrintPreviewModal"
                                            onclick="OpenViewUpdatePrintPreviewModal()"
                                            >Print Preview</button>
                                    @{
                                        var SubmitToBudgetConfirmationMess = "Are you sure you want to submit these appropriations to the Budget Office for review?";
                                        var note = " NOTE: Once this PAOO is submitted, its proposed amounts for the Budget Year 2017 cannot be updated anymore";

                                        <button class="btn btn-btnbackcolor btn-min-width mr-1 mb-1 float-right"
                                                onclick="swalConfirmation('@SubmitToBudgetConfirmationMess' ,'@note', 'Successfully Saved!')">
                                            Submit to Budget Office
                                        </button>
                                        <button class="btn btn-btnbackcolor btn-min-width mr-1 mb-1 float-right"
                                                onclick="swalConfirmation('@SaveConfirmationMess' ,'', 'Successfully Saved!')">
                                            Save
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*MODALS*@
@*ADD New Account*@
<div class="modal fade text-left" id="ViewAddAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-active">
                <h4 class="modal-title black" id="myModalLabel2">Add New Account/s</h4>
            </div>
            <div class="modal-body m-0" id="ViewAddAccount">


            </div>
            <div class="modal-footer m-0 p-1">
                @{
                    <button type="button" class="btn bg-active btn-min-width black" data-toggle="modal" data-target="" onclick="">Add Account/s</button>
                }
                <button type="button" class="btn bg-danger btn-min-width white" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*Update Signatory*@
<div class="modal fade text-left" id="ViewUpdateSignatoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-active">
                <h4 class="modal-title black" id="myModalLabel2">Update Signatory</h4>
            </div>
            <div class="modal-body m-0" id="ViewUpdateSignatory">


            </div>
            <div class="modal-footer m-0 p-1">
                @{
                    <button type="button" class="btn bg-active btn-min-width black" data-toggle="modal" data-target="" onclick="">OK</button>
                }
                <button type="button" class="btn bg-danger btn-min-width white" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*Print Preview*@
<div class="modal fade text-left" id="ViewPrintPreviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-active">
                <h4 class="modal-title black" id="myModalLabel2">Print Preview Options</h4>
            </div>
            <div class="modal-body m-0" id="ViewPrintPreview">


            </div>
            <div class="modal-footer m-0 p-1">
                @{
                    <a class="btn bg-active2 btn-min-width black button"
                       data-caption="01/01/19" href="~/Resources/PDF/blank.pdf"
                       target='_blank' onclick="CloseModal()">
                        Ok
                    </a>
                }
                <button type="button" class="btn bg-danger btn-min-width white" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@*SCRIPT*@
<script>
    //ADD NEW ACCOUNT
    function OpenViewAddAccountModal() {
        //var ID = $("#SupplyAccountCodeList").val();
        var IDTemp = "1";
        $.ajax({
            url: '/PreparationLBPF2/GetViewAddAccount',
            data: { ID: IDTemp },
            success: function (result) {
                $('#ViewAddAccount').html(result);
            }
        })
    }
    //UPDATE SIGNATORY
    function OpenViewUpdateSignatoryModal() {
        //var ID = $("#SupplyAccountCodeList").val();
        var IDTemp = "1";
        $.ajax({
            url: '/PreparationLBPF2/GetViewUpdateSignatory',
            data: { ID: IDTemp },
            success: function (result) {
                $('#ViewUpdateSignatory').html(result);
            }
        })
    }
    //PRINT PREVIEW
    function OpenViewUpdatePrintPreviewModal() {
        //var ID = $("#SupplyAccountCodeList").val();
        var IDTemp = "1";
        $.ajax({
            url: '/PreparationLBPF2/GetViewPrintPreview',
            data: { ID: IDTemp },
            success: function (result) {
                $('#ViewPrintPreview').html(result);
            }
        })
    }
</script>

<style>
    .card-fields {
        display: none;
    }
</style>
<script>
    $("#radioFirst").click();
    $("input[id='radioSecond']").change(function () {
        $(".card-fields").toggle('hide');
    });
    $("input[id='radioFirst']").change(function () {
        $(".card-fields").toggle('show');
    });
</script>

<script>
    $("input[data-type='currency']").on({
        keyup: function () {
            formatCurrency($(this));
        },
        blur: function () {
            formatCurrency($(this), "blur");
        }
    });


    function formatNumber(n) {
        // format number 1000000 to 1,234,567
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }
    function formatCurrency(input, blur) {
        // appends $ to value, validates decimal side
        // and puts cursor back in right position.

        // get input value
        var input_val = input.val();

        // don't validate empty input
        if (input_val === "") { return; }

        // original length
        var original_len = input_val.length;

        // initial caret position
        var caret_pos = input.prop("selectionStart");

        // check for decimal
        if (input_val.indexOf(".") >= 0) {

            // get position of first decimal
            // this prevents multiple decimals from
            // being entered
            var decimal_pos = input_val.indexOf(".");

            // split number by decimal point
            var left_side = input_val.substring(0, decimal_pos);
            var right_side = input_val.substring(decimal_pos);

            // add commas to left side of number
            left_side = formatNumber(left_side);

            // validate right side
            right_side = formatNumber(right_side);

            // On blur make sure 2 numbers after decimal
            if (blur === "blur") {
                right_side += "00";
            }

            // Limit decimal to only 2 digits
            right_side = right_side.substring(0, 2);

            // join number by .
            input_val = left_side + "." + right_side;

        } else {
            // no decimal entered
            // add commas to number
            // remove all non-digits
            input_val = formatNumber(input_val);
            input_val = input_val;

            // final formatting
            if (blur === "blur") {
                input_val += ".00";
            }
        }

        // send updated string to input
        input.val(input_val);

        // put caret back in the right position
        var updated_len = input_val.length;
        caret_pos = updated_len - original_len + caret_pos;
        input[0].setSelectionRange(caret_pos, caret_pos);
    }



</script>

@*Close modal*@
<script>
    function CloseModal() {
        $('#ViewPrintPreviewModal').modal('toggle');
    }
</script>

