
@{
    ViewBag.Title = "ChecklistsFormLBA1B";
}

<script>
    $("#PreparationChecklistsFormLBA1BID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class="col-9">
        <h3 class="content-header-title"><strong>Checklists on Documentary and Signature Requirements for the Supplemental Budget (LBA Form No. 1B)</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 mr-1"></div>
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <label>Budget Year</label>
                                    <select class="form-control">
                                        <option>2018</option>
                                        <option>2019</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-sm-1"></div>
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-7 col-sm-7">
                                    <button type="button" class="btn btn-btnbackcolor form-control btn-min-width"
                                            data-toggle="modal"
                                            data-target="#ViewPrintPreviewModal"
                                            onclick="OpenViewUpdatePrintPreviewModal()" style="border-color:white;">
                                        Document
                                    </button>
                                </div>
                                <div class="col-md-12 col-sm-12 mt-2">
                                    <fieldset class=" form-group">
                                        <label>Funds Actually Available:</label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="" checked>
                                            Certified Statement of Additional Realized Income
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Certification of Savings
                                        </label>
                                    </fieldset>
                                </div>

                                <div class="col-md-12 col-sm-12 mt-1">
                                    <fieldset class=" form-group">
                                        <label>New Revenue Measure/s:</label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Certified Statement of Income from New Revenue Measures
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12 mt-1">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Copy of dully enacted ordinance which imposes new local taxes, charges, fees, fines,or penalties or which raises existing local taxes, charges, fees, fines or penalties
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12 mt-1">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Copy of official Communication stating that the LGU is a recepient of new or higher remittances, contributions, subsidies or grants in aid from the National Governement or from government corporations and private entities
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12 mt-1">
                                    <fieldset class=" form-group">
                                        <label>Realignment of Appropriations in Times of Public Calamity:</label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Certificate of Sources of Funds Available for Appropriations
                                        </label>
                                    </fieldset>
                                </div>

                            </div>
                            <div class="col-md-5 col-sm-4">
                                <div class="col-md-9 col-sm-12" style="border-color:white;">
                                    <button type="button" class="btn btn-btnbackcolor form-control btn-min-width"
                                            data-toggle="modal"
                                            data-target="#ViewPrintPreviewModal"
                                            onclick="OpenViewUpdatePrintPreviewModal()" style="border-color:white;">
                                        Signatory
                                    </button>
                                </div>
                                <div class="col-md-12 col-sm-12 mt-1">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="" checked>
                                            Local Chief Executive
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Accountant
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Treasurer
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Accountant
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Treasurer
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Accountant
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Treasurer
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Accountant
                                        </label>
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <label>
                                            <input type="checkbox" name="radio2" value="">
                                            Local Chief Executive
                                        </label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>