
@{
    ViewBag.Title = "ReportContinuingAppropriation";
}

<script>
    $("#ExecutionReportContinuingAppropriationID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Report - Continuing Appropriation</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2 col-sm-3 form-group">
                                <label>Budget Year</label>
                                <select class="form-control">
                                    <option>2018</option>
                                </select>
                            </div>
                            <div class="col-md-5 col-sm-6 form-group">
                                <label>Department</label>
                                <select class="form-control">
                                    <option>Office of the Accountant</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2 form-group">
                                <label style="visibility:hidden">Department</label>
                                <button class="btn btn-btnbackcolor btn-min-width">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>