
@{
    ViewBag.Title = "FileFund";
}

<script>
    $("#FileMaintenanceFundID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Fund</strong></h3>
    </div>
</div>
@*BODY*@
<div class="row">
    <div class="content-header-left col-md-12">
        <div class="card box-shadow-4">
            <div class="card-content collapse show">
                <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                    @*NAV TAB*@
                    <div class="card box-shadow-2">
                        <div class="row m-0">
                            <ul class="nav nav-tabs nav-underline">
                                <li class="nav-item ">
                                    <a class="nav-link active bg-backcolorheader btn-min-width" id="fundNaviID" data-toggle="tab" aria-controls="tabFundID" href="#tabFundID" aria-expanded="false">Fund</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-backcolorheader btn-min-width" id="sfundNaviID" data-toggle="tab" aria-controls="tabSubFundID" href="#tabSubFundID" aria-expanded="false">Sub Fund</a>
                                </li>
                            </ul>
                            @*TAB*@
                            <div class="tab-content w-100" id="nav-tabContent">
                                <div class="tab-content px-1 pt-1 card-body rounded box-shadow-3">
                                    @*Fund Tab*@
                                    <div class="tab-pane" id="tabFundID">
                                       
                                    </div>
                                    @*Sub-Fund Tab*@
                                    <div class="tab-pane" id="tabSubFundID">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*=============================================*@
<script>
    $(function () {
        $("#fundNaviID").click();
    });
</script>