@model BOSS.Models.FMmodels.FMResCenterModels.FunctionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="form-group">
    <label class="custom-form-margin mt-xl-2">Sector</label>
        @Html.DropDownListFor(m => m.SectorID, Model.SectorListfunc, new { @class = "form-control select2", id = "SectorID", onchange = "LoadGetDynamicSubSectorfunc()" })
       
</div>

<script>
    $(function () {
        LoadICheck();
    })
   
    //function LoadGetDynamicSubSectorfunc() {
    //    GetDynamicSubSectorfunc();
    //}
</script>