@model BOSS.Models.FMResponsibilityModels.FunctionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;


<div id="DepttempID">

</div>
<div class="mt-1" id="FunctionID">

</div>

<script>
    $(function () {
        GetPartialIndexFunction();
    })
    function GetPartialIndexFunction() {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetPartialIndexFunction',
            success: function (result) {
                $('#DepttempID').html(result);
                GetFunctionDT();
            }
        })
    }
    //Viewing of Table
    function GetFunctionDT() {
        var deptID = $("#deptID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetFunctionDT',
            data: { deptID: deptID },
            success: function (result) {
                GetAddFunction(deptID);
                $("#FunctionID").html(result);
            }
        })
    }
    //for Add function
    function GetAddFunction(deptID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetAddFunction',
            data: { deptID: deptID },
            success: function (result) {
                $('#FunctionTempID').html(result);
                GetSectorSubsectorFields();
            }
        })
    }
    function GetSectorSubsectorFields() {
        var deptID = $("#deptID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetSectorSubsectorFields',
            data: { deptID: deptID },
            success: function (result) {
                $('#sectorSubsectorID').html(result);
            }
        })
    }
    //For update function
    function Get_UpdateFunction(FunctionID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/Get_UpdateFunction',
            data: { FunctionID: FunctionID },
            success: function (result) {
                $('#DepttempID').html(result);
                GetSectorSubsectorforUpdate();
                GetDepartmentforUpdate();
            }
        })
    }
    function GetDepartmentforUpdate() {
        var DeptID2 = $("#DeptID2").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDepartmentforUpdate',
            data: { DeptID2: DeptID2 },
            success: function (result) {

                $('#DeptforUpdateID').html(result);
            }
        })
    }
    function GetSectorSubsectorforUpdate() {
        var DeptID2 = $("#DeptID2").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetSectorSubsectorforUpdate',
            data: { DeptID2: DeptID2 },
            success: function (result) {
                $('#sectorSubsectorID').html(result);
            }
        })
    }
    function GetPartialIndexFunction2() {
        var DeptID2 = $("#DeptID2").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetPartialIndexFunction2',
            data: { DeptID2: DeptID2 },
            success: function (result) {
                $('#DepttempID').html(result);
                GetFunctionDT();
                 GetSectorSubsectorFields();
            }
        })
    }
    //function GetAddFunction2(deptID) {
    //    $.ajax({
    //        url: '/FileMaintenanceResponsibility/GetAddFunction',
    //        data: { deptID: deptID },
    //        success: function (result) {
    //            $('#FunctionTempID').html(result);
    //            GetSectorSubsectorFields();
    //            GetFunctionDT();
    //        }
    //    })
    //}
    function DeleteFunction(FunctionID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/DeleteFunction',
            data: { FunctionID: FunctionID },
            success: function (result) {
                GetFunctionDT();
            }
        })
    }
   
    
</script>
