@model BOSS.Models.FMmodels.FMResCenterModels.FunctionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="card-body px-1 card-body rounded menubackground">
    <div id="functionTempID">

    </div>
</div>
<div class="mt-2" id="functionTableID">

</div>

<script>
    $(function () {
        GetFunctionDT();
    })
    //Viewing of Table
    function GetFunctionDT() {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetFunctionDT',
            success: function (result) {
                $("#functionTableID").html(result);
                GetAddFunction();
            }
        })
    }
    //for Add function
    function GetAddFunction() {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetAddFunction',
            success: function (result) {
                $('#functionTempID').html(result);
                GetDynamicSubSectorfunc();
            }
        })
    }
    function GetDynamicSubSectorfunc() {
        var SectorID = $("#SectorID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDynamicSubSectorfunc',
            data: { SectorID: SectorID },
            success: function (result) {
                $("#SubSectorfuncID").html(result);
            }
        })
    }
    function GetDynamicSubSectorfunc2(SectorID, subsectorIDHidden) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDynamicSubSector2',
            data: { SectorID: SectorID, subsectorIDHidden: subsectorIDHidden },
            success: function (result) {
                $("#SubSectorfuncID").html(result);
            }
        })
    }
    function GetDynamicSubSectorfunc3() {
        var SectorID = $("#SectorID2").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDynamicSubSectorfunc',
            data: { SectorID: SectorID },
            success: function (result) {
                $("#SubSectorfuncID").html(result);
            }
        })
    }

    //Get Dynamic Fund Title
    function GetFund() {
        var DeptID = $("#DeptID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetFund',
            data: { DeptID: DeptID },
            success: function (result) {
                $('#fundTitleID').html(result);
            }
        })
    }
    //Get Fund for Update
    function GetFund2() {
        var DeptID = $("#DeptID2").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetFund',
            data: { DeptID: DeptID },
            success: function (result) {
                $('#fundTitleID').html(result);
            }
        })
    }
    //Get Dynamic Department/Office Code Title
    function GetDeptOfficeCode() {
        var DeptID = $("#DeptID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDeptOfficeCode',
            data: { DeptID: DeptID },
            success: function (result) {
                $('#DeptOfficeCodeID').html(result);
            }
        })
    }
    //Get Dept/Office Code for Update
    function GetDeptOfficeCode2() {
        var DeptID = $("#DeptID2").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDeptOfficeCode',
            data: { DeptID: DeptID },
            success: function (result) {
                $('#DeptOfficeCodeID').html(result);
            }
        })
    }
    ////Get Dynamic Sector Title
    //function GetSectorfromDept() {
    //    var DeptID = $("#DeptID").val();
    //    $.ajax({
    //        url: '/FileMaintenanceResponsibility/GetSectorfromDept',
    //        data: { DeptID: DeptID },
    //        success: function (result) {
    //            $('#sectorFieldID').html(result);
    //        }
    //    })
    //}
    ////Get Dynamic SubSector Title
    //function GetSubSectorfromDept() {
    //    var DeptID = $("#DeptID").val();
    //    $.ajax({
    //        url: '/FileMaintenanceResponsibility/GetSubSectorfromDept',
    //        data: { DeptID: DeptID },
    //        success: function (result) {
    //            $('#SubSectorfuncID').html(result);
    //        }
    //    })
    //}
    //For update function
    function Get_UpdateFunction(FunctionID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/Get_UpdateFunction',
            data: { FunctionID: FunctionID },
            success: function (result) {
                $('#functionTempID').html(result);
            }
        })
    }
    function DeleteFunction(FunctionID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/DeleteFunction',
            data: { FunctionID: FunctionID },
            success: function (result) {
                GetFunctionDT();
            }
        })
    }
</script>
