@model BOSS.Models.FMmodels.FMResCenterModels.FunctionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;


<div id="functionTempID">

</div>
<div class="mt-1" id="functionTableID">

</div>
@*Add Dept Modal*@
<div class="modal fade text-left" id="ViewAddDeptFuncModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-active">
                <h4 class="modal-title"><strong>Add Department</strong></h4>
                <button class="btn bg-active pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
            </div>

            <div class="modal-body skin skin-square">
                <div class="card-body p-0">
                    <div id="ViewAddDeptFuncID"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Add Sector Modal*@
<div class="modal fade text-left" id="ViewAddSectorModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-active">
                <h4 class="modal-title"><strong>Add Sector</strong></h4>
                <button class="btn bg-active pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
            </div>

            <div class="modal-body skin skin-square">
                <div class="card-body p-0">
                    <div id="ViewAddSectorID"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Add SubSector Modal*@
<div class="modal fade text-left" id="ViewAddSubSectorModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-active">
                <h4 class="modal-title"><strong>Add Sub-Sector</strong></h4>
                <button class="btn bg-active pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
            </div>

            <div class="modal-body skin skin-square">
                <div class="card-body p-0">
                    <div id="ViewAddSubSectorID"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Add Fund Modal*@
<div class="modal fade text-left" id="ViewAddFundFuncModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-active">
                <h4 class="modal-title"><strong>Add Fund</strong></h4>
                <button class="btn bg-active pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
            </div>

            <div class="modal-body skin skin-square">
                <div class="card-body p-0">
                    <div id="ViewAddFundFuncID"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Add Office Type Modal*@
<div class="modal fade text-left" id="ViewAddOfficeTypeFuncModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-active">
                <h4 class="modal-title"><strong>Add Office Type</strong></h4>
                <button class="btn bg-active pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
            </div>

            <div class="modal-body skin skin-square">
                <div class="card-body p-0">
                    <div id="ViewAddOfficeTypeFuncID"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        GetFunctionDT();
    })
    //Viewing of Table
    function GetFunctionDT() {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetFunctionDT',
            success: function (result) {
                $("#functionTableID").html(result);
                GetAddFunction();
            }
        })
    }
    //for Add function
    function GetAddFunction() {
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetAddFunction',
            success: function (result) {
                $('#functionTempID').html(result);
                GetAddDynamicSubSector();
            }
        })
    }
    function GetDynamicSubSectorfunc() {
        var SectorID = $("#SectorID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetDynamicSubSectorfunc',
            data: { SectorID: SectorID },
            success: function (result) {
                $("#SubSectorfuncID").html(result);
            }
        })
    }
    function GetFund() {
        var DeptID = $("#DeptID").val();
        $.ajax({
            url: '/FileMaintenanceResponsibility/GetFund',
            data: { DeptID: DeptID },
            success: function (result) {
                $('#fundTitleID').html(result);
            }
        })
    }
    //For update function
    function Get_UpdateFunction(FunctionID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/Get_UpdateFunction',
            data: { FunctionID: FunctionID },
            success: function (result) {
                $('#functionTempID').html(result);
            }
        })
    }
    function DeleteFunction(FunctionID) {
        $.ajax({
            url: '/FileMaintenanceResponsibility/DeleteFunction',
            data: { FunctionID: FunctionID },
            success: function (result) {
                GetFunctionDT();
            }
        })
    }
    //Get Add Department Modal
    function GetAddDeptModalFunc() {
        $.ajax({
            url: "/FileMaintenanceResponsibility/GetAddDeptModalFunc",
            success: function (result) {
                $("#ViewAddDeptFuncID").html(result);
                $('#ViewAddDeptFuncModal').modal('toggle');
            }
        });
    }
    //Get Add Sector Modal
    function GetAddSectorModal() {
        $.ajax({
            url: "/FileMaintenanceResponsibility/GetAddSectorModalDept",
            success: function (result) {
                $("#ViewAddSectorID").html(result);
                $('#ViewAddSectorModal').modal('toggle');
            }
        });
    }
    //Get Add Sub Sector Modal
    function GetAddSubSectorModal() {
        $.ajax({
            url: "/FileMaintenanceResponsibility/GetAddSubSectorModalDept",
            success: function (result) {
                $("#ViewAddSubSectorID").html(result);
                $('#ViewAddSubSectorModal').modal('toggle');
            }
        });
    }
    //Get ADD FUND Modal
    function GetAddFundModalFunc() {
        $.ajax({
            url: "/FileMaintenanceResponsibility/GetAddFundModalFunc",
            success: function (result) {
                $("#ViewAddFundFuncID").html(result);
                $('#ViewAddFundFuncModal').modal('toggle');
            }
        });
    }
    //Get ADD Office Type Modal
    function GetAddOfficeTypeModalFunc() {
        $.ajax({
            url: "/FileMaintenanceResponsibility/GetAddOfficeTypeModal",
            success: function (result) {
                $("#ViewAddOfficeTypeFuncID").html(result);
                $('#ViewAddOfficeTypeFuncModal').modal('toggle');
            }
        });
    }

</script>
