@model BOSS.Models.FMResponsibilityModels.FunctionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("AddNewFunction", "FileMaintenanceResponsibility", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetFunctionDT','Successfully Added!')", OnFailure = "", }))
{
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="custom-form-margin">Department</label>
                <span class="input-group-append">
                    @Html.DropDownListFor(m => m.DeptID2, Model.DeptSelectionList, new { @class = "form-control select2", id = "deptID", onchange = "GetFunctionDT()" })
                    <button type="button" class="btn btn-warning btn-sm m-left" data-toggle="modal" data-target="#ViewAddDeptFuncModal" onclick="GetAddDeptModalFunc()"><strong>+</strong></button>
                </span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label class="custom-form-margin">Function</label>
                @Html.TextAreaFor(m => m.getFunctionColumns.FunctionTitle, new { @class = "form-control", @rows = 1, id = "FunctionTitle" })
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="form-group">
                <label class="custom-form-margin">Function Abbreviation</label>
                @Html.TextBoxFor(m => m.getFunctionColumns.FunctionAbbrv, new { @class = "form-control", type = "text", id = "FunctionAbbrv" })
            </div>
        </div>
    </div>

    <div id="FunctionTempID">

    </div>
}