@model BOSS.Models.FMmodels.FMAccountsModels.FMMainChartofAccountModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="form-group">
    <label class="custom-form-margin">Revision Year</label>
    @Html.DropDownListFor(m => m.AllotClassModel.RevID, Model.AllotClassModel.RevYearDropDownList, new { @class = "form-control select2", id = "RevID" })
</div>
