@model BOSS.Models.FMmodels.FMAccountsModels.FMMainChartofAccountModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="col-xl-1 col-lg-1 col-md-1">
    @Html.TextBoxFor(m => m.AccountGrpModel.AGCode, new { @class = "form-woutborder", type = "text", id = "AGCode", disabled = "disabled" })
</div>