
@{
    ViewBag.Title = "AllotmentReleasingofAllotment";
}
<script>
    $("#ExecutionAllotmentReleasingofAllotmentID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Releasing of Allotment</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="row mt-0">
                            <div class="col-md-2 col-sm-1 "></div>
                            <div class="col-md-4 col-sm-5">
                                <fieldset class="">
                                    <label>
                                        <input type="radio" name="RadioS" id="radioFirst">
                                        Office Operational Expenses
                                    </label>
                                </fieldset>
                            </div>
                            <div class="col-md-4 col-sm-5">
                                <fieldset class="">
                                    <label>
                                        <input type="radio" name="RadioS" id="radioSecond">
                                        Programs/Projects/Activities
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-1"></div>
                            <div class="col-md-3 col-sm-4">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Date</label>
                                    <div>
                                        <input type="date" data-format="dd/MM/yyyy" class="form-control pickadate ">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 mx-0">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Date Issued</label>
                                    <div>
                                        <input type="text" value="11/01/2018" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Appropriation Source</label>
                                    <select class="form-control">
                                        <option>Annual Budget of 2018</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-md-1"></div>
                            <div class="col-md-3 col-sm-4 mt-0">
                                <div class="form-group ">
                                    <label style="margin-bottom:2px;">Fund</label>
                                    <select class="form-control">
                                        <option>General Fund</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-8">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Department</label>
                                    <select class="form-control">
                                        <option>BAGAC COMMUNITY and MEDICARE HOSPITAL</option>
                                        <option>Bids and Awards Committee Office</option>
                                        <option>Bureau of Fire Protection </option>
                                        <option>CEDTPC</option>
                                        <option>COMMUNITY AFFAIRS OFFICE</option>
                                        <option>Department of Interior and Local Government</option>
                                        <option>Internal Audit Service/Unit</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Program</label>
                                    <select class="form-control">
                                        <option>No Program/s found</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Project</label>
                                    <select class="form-control">
                                        <option>No Project/s found</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="margin-bottom:2px;">Activity</label>
                                    <select class="form-control">
                                        <option>No Activity/s found</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="card-body box-shadow-3 rounded">
                            <div class="row">
                                <div class="col-md-12 mx-0 px-0">
                                    @{
                                            var SaveAllotmentConfirmationMess = "Are you sure you want this allotment?";
                                            var SuccessMess = "Allotment successfully saved!";
                                    <button class="btn btn-btnbackcolor btn-min-width mr-1 float-right"
                                            onclick="swalConfirmation('@SaveAllotmentConfirmationMess' ,'', '@SuccessMess')">
                                        Save Allotment
                                    </button>
                                    }
                                </div>
                            </div>
                            @*Personal Services Table*@
                            <div class="card box-shadow-2 m-0 p-0">
                                <div class="card-header bg-active mt-1">
                                    <h4 class="card-title black">Personal Services</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-plus black"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse">
                                    <div class="card-body px-1 pt-1 card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                                        <div class="card-body m-0 p-0">
                                            <div class="row m-0">
                                                <div class="table-responsive">
                                                    <div class="col-12 mb-0">
                                                        <p class="red text-center">No appropriations found.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Maintenance table*@
                            <div class="card box-shadow-2 m-0 p-0">
                                <div class="card-header bg-active mt-1">
                                    <h4 class="card-title black">Maintenance and Other Operating Expenses</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-plus black"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse">
                                    <div class="card-body px-1 pt-1 card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                                        <div class="card-body m-0 p-0">
                                            <div class="row m-0">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-smss-hover zero-configuration w-100">
                                                        <thead class="text-center">
                                                            <tr>
                                                                <th>Object of Expenditure</th>
                                                                <th width="15%">Account Code </th>
                                                                <th width="15%">Total Adjusted Appropriation</th>
                                                                <th width="15%">Reserve Amount</th>
                                                                <th width="15%">Net Program</th>
                                                                <th width="15%">Prior Release</th>
                                                                <th width="15%">This Release</th>
                                                                <th width="15%">Total Release</th>
                                                                <th width="15%">Balance Of Appropriation</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-right">
                                                            <tr>
                                                                <td class="text-left">Fly Now Pay Later</td>
                                                                <td>5-02-03-070</td>
                                                                <td>500,000.00</td>
                                                                <td>0.00</td>
                                                                <td>500.000.00</td>
                                                                <td>125,000.00</td>
                                                                <td class="mx-2 px-2" style="margin-top:5px; padding-top:5px;">
                                                                    <div class="row">
                                                                        <div class="col-mg-12">
                                                                            <fieldset class="form-group">
                                                                                <input type="text" class="form-control-sm mx-0 px-0 text-right" value="125,000.00" id="basicInput">
                                                                            </fieldset>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>250,000.00</td>
                                                                <td>250,000.00</td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot class="bg-active black text-right">
                                                            <tr>
                                                                <th class="text-left" colspan="2">TOTAL</th>
                                                                <th style="padding-right:5px;">500,000.00</th>
                                                                <th style="padding-right:5px;">0.00</th>
                                                                <th style="padding-right:5px;">500.000.00</th>
                                                                <th style="padding-right:5px;">125,000.00</th>
                                                                <th style="padding-right:5px;">125,000.00</th>
                                                                <th style="padding-right:5px;">250,000.00</th>
                                                                <th style="padding-right:5px;">250,000.00</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Capial Outlay table*@
                            <div class="card box-shadow-2 m-0 p-0">
                                <div class="card-header bg-active mt-1">
                                    <h4 class="card-title black">Capital Outlay</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-plus black"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse">
                                    <div class="card-body px-1 pt-1 card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                                        <div class="card-body m-0 p-0">
                                            <div class="row m-0">
                                                <div class="table-responsive">
                                                    <div class="col-12 mb-0">
                                                        <p class="red text-center">No appropriations found.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Other Financial Expenses Table*@
                            <div class="card box-shadow-2 m-0 p-0">
                                <div class="card-header bg-active mt-1">
                                    <h4 class="card-title black">Other Financial Expenses</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-plus black"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse">
                                    <div class="card-body px-1 pt-1 card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                                        <div class="card-body m-0 p-0">
                                            <div class="row m-0">
                                                <div class="table-responsive">
                                                    <div class="col-12 mb-0">
                                                        <p class="red text-center">No appropriations found.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mt-1">
                                    <button type="button" class="btn btn-btnbackcolor btn-min-width"
                                            data-toggle="modal"
                                            data-target="#ViewPrintPreviewModal"
                                            onclick="OpenViewUpdatePrintPreviewModal()">
                                        TOTAL ALLOTMENT
                                    </button>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-3 col-sm-4">
                                    <div class="form-group">
                                        <label style="margin-bottom:2px;">Total Amount</label>
                                        <div>
                                            <input type="text" value="125,000.00" class="form-control text-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-5">
                                    <div class="form-group">
                                        <label style="margin-bottom:2px;">Amount in words</label>
                                        <div>
                                            <textarea class="form-control" id="basicTextarea" rows="3">One hundred Twenty Five Thousand Pesos only</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-3">
                                    <div class="form-group">
                                        <label style="margin-bottom:2px;">Note</label>
                                        <div>
                                            <textarea class="form-control" id="basicTextarea" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-btnbackcolor btn-min-width"
                                            data-toggle="modal"
                                            data-target="#ViewPrintPreviewModal"
                                            onclick="OpenViewUpdatePrintPreviewModal()">
                                        GRAND TOTAL
                                    </button>
                                </div>
                            </div>
                            <div class="row my-0 py-0">
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label style="margin-bottom:2px;">Authorized Appropriations</label>
                                        <div>
                                            <input type="text" value="500,000.00" class="form-control text-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label style="margin-bottom:2px;">Prior Release</label>
                                        <div>
                                            <input type="text" value="125,000.00" class="form-control text-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-0 py-0">
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label style="margin-bottom:2px;">Reserve</label>
                                        <div>
                                            <input type="text" value="0.00" class="form-control text-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label style="margin-bottom:2px;">This Release</label>
                                        <div>
                                            <input type="text" value="125,000.00" class="form-control text-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-0 py-0">
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label style="margin-bottom:2px;">Net Program</label>
                                        <div>
                                            <input type="text" value="500,000.00" class="form-control text-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label style="margin-bottom:2px;">Total Release</label>
                                        <div>
                                            <input type="text" value="250,000.00" class="form-control text-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-0 py-0">
                                <div class="col-md-3"></div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label style="margin-bottom:2px;">Balance of Appropriation</label>
                                        <div>
                                            <input type="text" value="250,000.00" class="form-control text-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mt-2">
                                    <button type="button" class="btn btn-btnbackcolor btn-min-width pull-right"
                                            data-toggle="modal"
                                            data-target="#ViewPrintPreviewModal"
                                            onclick="OpenViewUpdatePrintPreviewModal()">
                                        SAVE ALLOTMENT
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>