@model BOSS.Models.FMmodels.FMAccountsModels.FMMainChartofAccountModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("AddNewMajorAccntGrp", "FileMaintenanceAccounts", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetMajorAccntGrpDT','Successfully Added!')", OnFailure = "", }))
{
    <div class="row">
        <div class="col-xl-1">
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3" id="revYearMAGID">

        </div>
        <div class="col-xl-4 col-lg-5 col-md-5" id="allotClassMAGID">

        </div>
        <div class="col-xl-4 col-lg-4 col-md-4" id="accountGrpMAGID">

        </div>
    </div>
    <div class="row">
        <div class="col-xl-1">
        </div>
        <div class="col-xl-5 col-lg-6 col-md-6">
            <div class="form-group">
                <label class="custom-form-margin">Major Account Group</label>
                @Html.TextBoxFor(m => m.MajorAccountGrpModel.getMajorAccntGrpColumns.MAGTitle, new { @class = "form-control", type = "text", id = "MAGTitle" })
            </div>
        </div>
        @*<div class="col-xl-2 col-lg-4 col-md-4">
                <label class="custom-form-margin"><b>Account Code</b></label>
                <div class="input-group mt-0">
                    <span class="input-group-addon" id="basic-addon1"><b>1 -</b></span>
                    @Html.TextBoxFor(m => m.MajorAccountGrpModel.getMajorAccntGrpColumns.MAGCode, new { @class = "form-control", type = "text", id = "MAGCode" })
                </div>
            </div>*@
        <div class="col-xl-2 col-lg-4 col-md-4">
            <div class="form-group m-0 p-0">
                <label class="custom-form-margin">Account Code</label>
            </div>
            <div class="row">
                <div class="col-xl-1 col-lg-1 col-md-1 px-0 mx-0" id="accountGrpCodeMAGID">

                </div>
                <div class="col-xl-1 col-lg-1 col-md-1">
                    <label class="mb-2 px-0 mx-0" style="margin-top:7px;">-</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-xs-6 pl-0">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.MajorAccountGrpModel.getMajorAccntGrpColumns.MAGCode, new { @class = "form-control", type = "text", id = "MAGCode" })
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-1">
        </div>
        <div class="col-xl-10">
            <div class="form-group">
                <button type="button" class="btn btn-menuRed btn-min-width ml-1 float-right" onclick="GetMajorAccntGrpDT()">
                    Cancel
                </button>
                <button type="submit" class="btn btn-btnbackcolor btn-min-width float-right">
                    Add
                </button>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        LoadICheck();
    })
</script>