
<div class="card-body px-1 card-body rounded menubackground">
    <div id="MAGTempID"></div>
</div>
<div class=" mt-2" id="tableMAGTempID"></div>
<script>
    $(function () {
        GetMajorAccntGrpDT();
    })
    function GetMajorAccntGrpDT() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetMajorAccntGrpDT',
            success: function (result) {
                $("#tableMAGTempID").html(result);
                GetAddMajorAccntGrp();
            }
        })
    }
    function GetAddMajorAccntGrp() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetAddMajorAccntGrp',
            success: function (result) {
                $("#MAGTempID").html(result);
                //GetDynamicRevYearAG();
            }
        })
    }
    function GetDynamicRevYearAG() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicRevYearAG',
            success: function (result) {
                $("#revYearAGID").html(result);
                //GetDynamicAllotClassAG();
            }
        })
    }
    function GetDynamicAllotClassAG() {
        var RevID = $("#RevID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicAllotClassAG',
            data: { RevID: RevID },
            success: function (result) {
                $("#allotClassAGID").html(result);
            }
        })
    }
    function Get_UpdateAccountGroup(AGID) {
        $.ajax({
            url: '/FileMaintenanceAccounts/Get_UpdateAccountGroup',
            data: { AGID: AGID },
            success: function (result) {
                $('#accntGrpTempID').html(result);
            }
        })
    }
    function GetDynamicRevYearAGUpdate() {
        var RevTempID = $("#RevTempID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicRevYearAGUpdate',
            data: { RevTempID: RevTempID },
            success: function (result) {
                $("#revYearAGID").html(result);
            }
        })
    }
    function GetDynamicAllotClassAGUpdate(RevID, allotclasssTempID) {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicAllotClassAGUpdate',
            data: { RevID: RevID, allotclasssTempID: allotclasssTempID },
            success: function (result) {
                $("#allotClassAGID").html(result);
            }
        })
    }
    function DeleteAccountGroup(AGID) {
        $.ajax({
            url: '/FileMaintenanceAccounts/DeleteAccountGroup',
            data: { AGID: AGID },
            success: function (result) {
                GetAccountGroupDT();
            }
        })
    }
</script>
