
<div class="card-body px-1 card-body rounded menubackground">
    <div id="MAGTempID"></div>
</div>

<div class=" mt-2" id="tableMAGTempID"></div>

<script>
    $(function () {
        GetMajorAccntGrpDT();
    })
    function GetMajorAccntGrpDT() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetMajorAccntGrpDT',
            success: function (result) {
                $("#tableMAGTempID").html(result);
                GetAddMajorAccntGrp();
            }
        })
    }
    function GetAddMajorAccntGrp() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetAddMajorAccntGrp',
            success: function (result) {
                $("#MAGTempID").html(result);
                GetDynamicRevYearMAG();
            }
        })
    }
    function GetDynamicRevYearMAG() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicRevYear',
            success: function (result) {
                $("#revYearMAGID").html(result);
                GetDynamicAllotClassMAG();
                onchangeRevYearMAG();
            }
        })
    }
    //Call Dynamic Allotment Class Input Field
    function GetDynamicAllotClassMAG() {
        var RevID = $("#RevID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicAllotClass',
            data: { RevID: RevID },
            success: function (result) {
                $("#allotClassMAGID").html(result);
                onchangeAllotClassMAG();
                GetDynamicAccountGroupMAG();
            }
        })
    }
    //Call Dynamic Allotment Class Input Field
    function GetDynamicAccountGroupMAG() {
        var AllotmentClassID = $("#AllotmentClassID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicAccountGroup',
            data: { AllotmentClassID: AllotmentClassID },
            success: function (result) {
                $("#accountGrpMAGID").html(result);
                GetAccountGroupCode();
                onchangeAccountGroupMAG2();
            }
        })
    }
    //=========================================================
    //Revision Year onchange event
    function onchangeRevYearMAG() {
        $("#RevID").on("change", function () {
            GetDynamicAllotClassMAG();
        });
    }
    //Allotment Class onchange event
    function onchangeAllotClassMAG() {
        $("#AllotmentClassID").on("change", function () {
            GetDynamicAccountGroupMAG();
        });
    }
    //Account Group onchange event
    function onchangeAccountGroupMAG() {
        $("#AGID").on("change", function () {
            GetAccountGroupCode();
        });
    }
    //Account Group onchange event for Account Group Dropdown
    function onchangeAccountGroupMAG2() {
        $("#AGID").on("change", function () {
            GetAccountGroupCode2();
        });
    }
    //========================================================================
    //Call Account Group Code Field
    function GetAccountGroupCode() {
        var AllotmentClassID = $("#AllotmentClassID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetAccountGroupCode',
            data: { AllotmentClassID: AllotmentClassID },
            success: function (result) {
                $('#accountGrpCodeMAGID').html(result);
                onchangeAccountGroupMAG2();
            }
        })
    }
    function GetAccountGroupCode2() {
        var AGID = $("#AGID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetAccountGroupCode2',
            data: { AGID: AGID },
            success: function (result) {
                $('#accountGrpCodeMAGID').html(result);
            }
        })
    }
    //========================================================================
    function Get_UpdateMajorAccountGroup(MAGID) {
        $.ajax({
            url: '/FileMaintenanceAccounts/Get_UpdateMajorAccountGroup',
            data: { MAGID: MAGID },
            success: function (result) {
                $('#MAGTempID').html(result);
                GetDynamicRevYearUpdateMAG();
            }
        })
    }
    function GetDynamicRevYearUpdateMAG() {
        var RevIDMAG = $("#RevIDMAG").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicRevYearUpdateMAG',
            data: { RevIDMAG: RevIDMAG },
            success: function (result) {
                $("#revYearMAGID").html(result);
                onchangeRevYearMAG();
                GetDynamicAllotClassUpdateMAG();
            }
        })
    }
    function GetDynamicAllotClassUpdateMAG() {
        var RevIDMAG = $("#RevIDMAG").val();
        var allotclasssTempID = $("#allotclasssTempID").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicAllotClassUpdateMAG',
            data: { RevIDMAG:RevIDMAG,allotclasssTempID: allotclasssTempID },
            success: function (result) {
                $("#allotClassMAGID").html(result);
                GetDynamicAccntGroupUpdateMAG();
                onchangeAllotClassMAG();
            }
        })
    }
    function GetDynamicAccntGroupUpdateMAG() {
        var allotclasssTempID = $("#allotclasssTempID").val();
        var AGIDMag = $("#AGIDMag").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/GetDynamicAccntGroupUpdateMAG',
            data: { allotclasssTempID: allotclasssTempID, AGIDMag: AGIDMag },
            success: function (result) {
                $("#accountGrpMAGID").html(result);
                GetAccountGroupCode2();
                onchangeAccountGroupMAG2();
            }
        })
    }
    function DeleteMjorAccountGroup(MAGID) {
        $.ajax({
            url: '/FileMaintenanceAccounts/DeleteMjorAccountGroup',
            data: { MAGID: MAGID },
            success: function (result) {
                GetMajorAccntGrpDT();
            }
        })
    }
</script>
