@model BOSS.Models.FMPositionforSPModels.PositionforSPModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<div class="form-group">
        <label class="custom-form-margin">Classification</label>
        @Html.DropDownListFor(m => m.PCID, Model.PositionClassList, new { @class = "form-control select2nosearch", id = "PCID" })
</div>
<script>
    $(function () {
        select2nosearch();
    })
</script>