@model BOSS.Models.FMmodels.FMPositionModels.PositionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
@using (Ajax.BeginForm("AddNewPosition", "FileMaintenancePosition", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal( 'GetPositionSPDTable','Successfully Saved!')", OnFailure = "", }))
{
    
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-1"></div>
            <div class="col-xl-8 col-lg-8 col-md-10">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <div class="form-group">
                            <label class="custom-form-margin">Position</label>
                            <fieldset class="form-group">
                                @Html.TextAreaFor(m => m.getPositionColumns.PositionTitle, new { @class = "form-control", @rows = 1, id = "PositionTitle" })
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="custom-form-margin">Position Code</label>
                            <fieldset class="form-group">
                                @Html.TextBoxFor(m => m.getPositionColumns.PositionCode, new { @class = "form-control", id = "PositionCode" })
                            </fieldset>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <button type="button" class="btn btn-menuRed btn-min-width float-right ml-1" onclick="GetPositionSPDTable()">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-btnbackcolor btn-min-width float-right">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

<script>
    $(function () {
        select2nosearch();
    })
</script>
