<table class="table table-striped table-bordered table-condensed zero-configuration w-100 table-smss-hover">
    <thead class="text-center">
        <tr>
            <th colspan="2">Position Name</th>
            <th width="25%">Permanent/Non-Permanent</th>
            <th width="25%">Classification</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>1</td>
            <td>Acting Provincial Governor</td>
            <td>Permanent</td>
            <td>Administrative</td>
        </tr>
        <tr class="text-center">
            <td>2</td>
            <td>Acting Provincial Treasurer</td>
            <td>Permanent</td>
            <td>Administrative</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Assistant Provincial Treasurer</td>
            <td>Permanent</td>
            <td>Administrative</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Assistant Provincial Treasurer</td>
            <td>Permanent</td>
            <td>Administrative</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Chief of Hospital</td>
            <td>Permanent</td>
            <td>With RATA</td>
        </tr>
    </tbody>
</table>