@model BOSS.Models.FMPositionforSPModels.PositionforSPModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("UpdatePosition", "FileMaintenancePosition", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal( 'GetPositionSPDTable','Successfully Updated!')", OnFailure = "", }))
{
    @Html.HiddenFor(m => m.PositionID, new { })
    @*@Html.HiddenFor(m => m.PCIDTemp, new { id = "PCIDTempID" })*@

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="custom-form-margin">Position name</label>
                <fieldset>
                    @Html.TextAreaFor(m => m.getPositionColumns2.PositionTitle, new { @class = "form-control", @rows = 1, id = "PositionTitle" })
                </fieldset>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="custom-form-margin">Position Code</label>
                <fieldset class="form-group">
                    @Html.TextBoxFor(m => m.getPositionColumns2.PositionCode, new { @class = "form-control", id = "PositionCode" })
                </fieldset>
            </div>
        </div>
        @*<div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label class="custom-form-margin">Permanent/Non-Permanent</label>
                    @Html.DropDownListFor(m => m.PSID, Model.PositionStatusList, new { @class = "form-control select2nosearch", id = "PSID", onchange = "GetUpdateDynamicClassification()" })
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div id="PositionClassificationID">

                </div>
            </div>*@
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="form-group">
                <button type="button" class="btn btn-menuRed btn-min-width float-right" onclick="GetPositionSPDTable()">
                    Cancel
                </button>
                <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 float-right">
                    Update
                </button>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        select2nosearch();
    })
    //$(function () {
    //    GetUpdateDynamicClassification()
    //})

</script>
