
@{
    ViewBag.Title = "FilePosition";
}


<script>
    $("#FileMaintenancePositionID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Position for Staffing Profile</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body" id="FMPositionSPController" ng-controller="FMPositionSPController" ng-init="InitFunctions();">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded m-0" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="card-content collapse show">
                            @*<div class="card-header bg-active">
                                <h4 class="card-title black">Position List</h4>
                            </div>*@
                            <div class="card-body px-1 card-body rounded box-shadow-4">
                                <div id="PositionSPTempID">

                                </div>
                                <div class="row m-1" ng-bind-html="FMPositionSPID">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    app.controller('FMPositionSPController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;
        //Calling all Init Function
        F.InitFunctions = function () {
            F.GetPositionSPDTable();
        }
        //Get Position and Staffing Profile Datatable Partial View
        F.GetPositionSPDTable = function () {
            F.FMPositionSPID = null;
            P({
                url: '/FileMaintenancePosition/GetPositionSPDTable',
            }).then(function (response) {
                F.FMPositionSPID = D(response.data);
                F.GetAddPositionSP();
            });
        }
        //Get Add Position View
        F.GetAddPositionSP = function () {
            P({
                url: '/FileMaintenancePosition/GetAddPositionSP',
            }).then(function (response) {
                $('#PositionSPTempID').html(response.data);

            });
        }
        F.GetDynamicClassification = function () {
            var PSID = $("#PSID").val();
            P({
                url: '/FileMaintenancePosition/GetDynamicClassification',
                params: { PSID: PSID }
            }).then(function (response) {
                $('#PositionClassificationID').html(response.data);
            });
        }
        F.GetDynamicClassification2 = function (PSHiddenID) {
            P({
                url: '/FileMaintenancePosition/GetDynamicClassification2',
                params: { PCHiddenID: PCHiddenID }
            }).then(function (response) {
                $('#PositionClassificationID').html(response.data);
            });
        }
        F.Get_UpdatePosition = function (PositionID) {
            P({
                url: '/FileMaintenancePosition/Get_UpdatePosition',
                params: { PositionID: PositionID }
            }).then(function (response) {
                $('#PositionSPTempID').html(response.data);

            });
        }
    });
</script>
