@model IEnumerable<BOSS.Models.FMmodels.FMBarangayModels.BarangayCollectorList>
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
<div class="row">
    <div class="col-xl-1 col-lg-1"></div>
    <div class="col-xl-10 col-lg-10">
        <table class="table table-striped zero-configuration table-bordered dataTable scroll-horizontal table-smss-hover no-footer m-0 w-100">
            <thead>
                <tr>
                    <th>Barangay Name</th>
                    <th width="5px">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Items in Model)
                    {

                        var Update = "<button class='btn btn-icon black btn-menuorange btn-block border-0' id='btnEditBrgyCollectorID' BrgyCollectorAttr='" + Items.BrgyCollectorID + "'><i class='ft-edit'></i> Edit</button>";
                        var Remove = "<button class='btn btn-icon btn-menuRed white btn-block border-0' id='btnDeleteBrgyCollectorID' BrgyCollectorAttr='" + Items.BrgyCollectorID + "'><i class='la la-trash'></i> Delete</button>";

                        var Action = Update + Remove;

                        <tr>
                            <td>@Items.Fullname</td>
                            <td class="text-center">
                                <button type="button" onfocusout="PopoveLostFocus()"
                                        class="btn btn-m btn-btnbackcolor popover-trigger"
                                        data-toggle="popover" data-content="@Action" data-html="true" data-placement="left">
                                    <i class="la la-bars"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
    <script>
        $(function () {
            LoadDataTable();
        })
    </script>
