
@{
    ViewBag.Title = "IndexBrgyCollector";
}

<div class="card-body px-1 card-body rounded menubackground">
    <div id="brgyCollectorTempID">

    </div>
</div>
<div class="mt-2" id="brgyCollectorTableID">

</div>

