
@{
    ViewBag.Title = "FileAppropriation";
}

<script>
    $("#FileMaintenanceAppropriationID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Appropriation and Fund Source</strong></h3>
    </div>
</div>
@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        @*NAV TAB*@
                        <div class="card box-shadow-2">
                            <div class="row m-0">
                                <ul class="nav nav-tabs nav-underline">
                                    <li class="nav-item">
                                        <a class="nav-link active bg-backcolorheader" id="fundSourceNavID"data-toggle="tab" aria-controls="tabFundSource" href="#tabFundSource" aria-expanded="false">Fund Source</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link bg-backcolorheader" id="AppropSourceNavID" data-toggle="tab" aria-controls="tabApp" href="#tabApp" aria-expanded="false">Appropriation Source</a>
                                    </li>
                                </ul>
                                <div class="tab-content w-100 skin skin-square" id="nav-tabContent">
                                    <div class="tab-content px-1 pt-1 card-body rounded box-shadow-3">
                                        <div class="tab-pane active" id="tabFundSource">

                                        </div>
                                        <div class="tab-pane" id="tabApp">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#fundSourceNavID").click();
    });
</script>
