

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label class="custom-form-margin">Fund</label>
            <input type="text" id="fundID" value="" class="form-control" />
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="form-group">
            <label class="custom-form-margin">Code</label>
            <input type="text" id="fundCodeID" value="" class="form-control" />
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-10">
        <div class="form-group">
            <button type="button" class="btn btn-menuRed btn-min-width float-right" onclick="GetDepartmentDT()">
                Cancel
            </button>
            <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 float-right">
                Add
            </button>
        </div>
    </div>
</div>